In [25]:
%load_ext autoreload
%autoreload 2
from table_extraction import *
cwd = os.getcwd()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [26]:
df, table_dict = table_extraction("postgresql://52.89.148.112:5432/mimic", 'postgres', 'password', os.path.join(cwd, 'cookbook'))
df

gateway opened
gateway tested
database connected
/Users/apham/Documents/Projects/table_lineage/cookbook/mortality.sql mimiciii_clinical.admissions,mimiciii_clinical.patients
/Users/apham/Documents/Projects/table_lineage/cookbook/icd9count.sql mimiciii_clinical.diagnoses_icd
/Users/apham/Documents/Projects/table_lineage/cookbook/height.sql mimiciii_clinical.chartevents
/Users/apham/Documents/Projects/table_lineage/cookbook/temp.sql mimiciii_clinical.chartevents,mimiciii_clinical.admissions,mimiciii_clinical.patients
/Users/apham/Documents/Projects/table_lineage/cookbook/sbp.sql mimiciii_clinical.chartevents,mimiciii_clinical.admissions,mimiciii_clinical.patients
/Users/apham/Documents/Projects/table_lineage/cookbook/wbc.sql mimiciii_clinical.labevents,mimiciii_clinical.admissions,mimiciii_clinical.patients
/Users/apham/Documents/Projects/table_lineage/cookbook/icustay_days.sql mimiciii_clinical.icustays
/Users/apham/Documents/Projects/table_lineage/cookbook/uo.sql mimiciii_clinical.outputevents,mimiciii_clinical.icustays,mimiciii_clinical.patients
/Users/apham/Documents/Projects/table_lineage/cookbook/sodium.sql mimiciii_clinical.labevents,mimiciii_clinical.admissions,mimiciii_clinical.patients
/Users/apham/Documents/Projects/table_lineage/cookbook/bun.sql mimiciii_clinical.labevents,mimiciii_clinical.admissions,mimiciii_clinical.patients
/Users/apham/Documents/Projects/table_lineage/cookbook/hco.sql mimiciii_clinical.labevents,mimiciii_clinical.admissions,mimiciii_clinical.patients
/Users/apham/Documents/Projects/table_lineage/cookbook/number_of_patients.sql mimiciii_clinical.patients
/Users/apham/Documents/Projects/table_lineage/cookbook/icd9vicd9count.sql mimiciii_clinical.diagnoses_icd
/Users/apham/Documents/Projects/table_lineage/cookbook/glucose.sql mimiciii_clinical.labevents,mimiciii_clinical.admissions,mimiciii_clinical.patients
/Users/apham/Documents/Projects/table_lineage/cookbook/potassium.sql mimiciii_clinical.labevents,mimiciii_clinical.admissions,mimiciii_clinical.patients
/Users/apham/Documents/Projects/table_lineage/cookbook/age_histogram.sql mimiciii_clinical.admissions,mimiciii_clinical.patients
/Users/apham/Documents/Projects/table_lineage/cookbook/gcs.sql mimiciii_clinical.chartevents,mimiciii_clinical.admissions,mimiciii_clinical.patients
/Users/apham/Documents/Projects/table_lineage/cookbook/rr.sql mimiciii_clinical.chartevents,mimiciii_clinical.admissions,mimiciii_clinical.patients
/Users/apham/Documents/Projects/table_lineage/cookbook/heart_rate.sql mimiciii_clinical.chartevents,mimiciii_clinical.admissions,mimiciii_clinical.patients
/Users/apham/Documents/Projects/table_lineage/cookbook/icd9vicd9agelimited.sql mimiciii_clinical.diagnoses_icd,mimiciii_clinical.admissions,mimiciii_clinical.patients
/Users/apham/Documents/Projects/table_lineage/cookbook/basic_patient_info.sql mimiciii_clinical.patients
/Users/apham/Documents/Projects/table_lineage/cookbook/min_surviving_bp.sql mimiciii_clinical.chartevents,mimiciii_clinical.admissions,mimiciii_clinical.patients
/Users/apham/Documents/Projects/table_lineage/cookbook/icd9agelimited.sql mimiciii_clinical.diagnoses_icd,mimiciii_clinical.admissions,mimiciii_clinical.patients
/Users/apham/Documents/Projects/table_lineage/cookbook/icd9vagehistogram.sql mimiciii_clinical.diagnoses_icd,mimiciii_clinical.admissions,mimiciii_clinical.patients

,file,original sql,sql,tables
0,mortality.sql,-- -------------------------------------------...,"with tmp as ( select adm.hadm_id,admittime,dis...","mimiciii_clinical.admissions,mimiciii_clinical..."
1,icd9count.sql,-- -------------------------------------------...,"select count(distinct subject_id) as ""hyperten...",mimiciii_clinical.diagnoses_icd
2,height.sql,-- -------------------------------------------...,"with ht as ( select valuenum,ntile(200) as buc...",mimiciii_clinical.chartevents
3,temp.sql,-- -------------------------------------------...,with agetbl as ( select ad.subject_id from mim...,"mimiciii_clinical.chartevents,mimiciii_clinica..."
4,sbp.sql,-- -------------------------------------------...,with agetbl as ( select ad.subject_id from mim...,"mimiciii_clinical.chartevents,mimiciii_clinica..."
5,wbc.sql,-- -------------------------------------------...,with agetbl as ( select ad.subject_id from mim...,"mimiciii_clinical.labevents,mimiciii_clinical...."
6,icustay_days.sql,\n-- -----------------------------------------...,"with dayseq as ( select icustay_id,intime,outt...",mimiciii_clinical.icustays
7,uo.sql,-- -------------------------------------------...,"with agetbl as ( select ie.icustay_id,ie.intim...","mimiciii_clinical.outputevents,mimiciii_clinic..."
8,sodium.sql,-- -------------------------------------------...,with agetbl as ( select ad.subject_id from mim...,"mimiciii_clinical.labevents,mimiciii_clinical...."
9,bun.sql,-- -------------------------------------------...,with agetbl as ( select ad.subject_id from mim...,"mimiciii_clinical.labevents,mimiciii_clinical...."
10,hco.sql,-- -------------------------------------------...,with agetbl as ( select ad.subject_id from mim...,"mimiciii_clinical.labevents,mimiciii_clinical...."
11,number_of_patients.sql,-- -------------------------------------------...,select count(*) from mimiciii_clinical.patients,mimiciii_clinical.patients
12,icd9vicd9count.sql,-- -------------------------------------------...,"select count(distinct a.subject_id) as ""obesit...",mimiciii_clinical.diagnoses_icd
13,glucose.sql,-- -------------------------------------------...,with agetbl as ( select ad.subject_id from mim...,"mimiciii_clinical.labevents,mimiciii_clinical...."
14,potassium.sql,-- -------------------------------------------...,with agetbl as ( select ad.subject_id from mim...,"mimiciii_clinical.labevents,mimiciii_clinical...."
15,age_histogram.sql,-- -------------------------------------------...,"with agetbl as ( select timestampdiff(year,ad....","mimiciii_clinical.admissions,mimiciii_clinical..."
16,gcs.sql,-- -------------------------------------------...,with agetbl as ( select ad.subject_id from mim...,"mimiciii_clinical.chartevents,mimiciii_clinica..."
17,rr.sql,-- -------------------------------------------...,with agetbl as ( select ad.subject_id from mim...,"mimiciii_clinical.chartevents,mimiciii_clinica..."
18,heart_rate.sql,-- -------------------------------------------...,with agetbl as ( select ad.subject_id from mim...,"mimiciii_clinical.chartevents,mimiciii_clinica..."
19,icd9vicd9agelimited.sql,-- -------------------------------------------...,with agetbl as ( select ad.subject_id from mim...,"mimiciii_clinical.diagnoses_icd,mimiciii_clini..."
20,basic_patient_info.sql,-- -------------------------------------------...,"select subject_id,gender,dob from mimiciii_cli...",mimiciii_clinical.patients
21,min_surviving_bp.sql,-- -------------------------------------------...,with agetbl as ( select ad.subject_id from mim...,"mimiciii_clinical.chartevents,mimiciii_clinica..."
22,icd9agelimited.sql,-- -------------------------------------------...,with agetbl as ( select ad.subject_id from mim...,"mimiciii_clinical.diagnoses_icd,mimiciii_clini..."
23,icd9vagehistogram.sql,-- -------------------------------------------...,"with diatbl as ( select dia.subject_id,ad.admi...","mimiciii_clinical.diagnoses_icd,mimiciii_clini..."