In [1]:
from sqlalchemy import create_engine
import pandas as pd
import os
import datetime as dt
from sql_metadata import Parser
import sqlparse
import re
import string
from subprocess import *
from table_extraction import *
%load_ext autoreload
%autoreload 2
from stack import *

In [2]:
def _check_db_connection(conn_string):
    try:
        psycopg2.connect(conn_string)
        print("database connected")
    except:
        print("authentication error")
    return create_engine(conn_string)

def _create_view(schema, name, conn_string, sql, conn):
    #connect and create view
    cur = conn.cursor()
    cur.execute("""SET search_path TO {};""".format(schema))
    #print(create_sql)
    cur.execute("""CREATE TABLE {}.{} AS {}""".format(schema, name, sql))
    #cur.fetchall()
    conn.commit()
    cur.close()
    print(schema + "." + name + " created")

def _delete_view(new_view_list, conn_string):
    # reverse it just in case to drop dependencies first
    new_view_list = new_view_list[::-1]
    conn = psycopg2.connect(conn_string)
    cur = conn.cursor()
    for i in new_view_list:
        cur.execute("""DROP TABLE {} CASCADE""".format(i))
        print(i + " dropped")
    conn.commit()
    cur.close()
    conn.close()

def _get_files(path):
    if os.path.isfile(path):
        sql_files = [path]
    elif os.path.isdir(path):
        sql_files = [os.path.join(path, f) for f in os.listdir(path) if f.endswith('.sql') or f.endswith('.SQL')]
    else:
        sql_files = []
    return sql_files

def _special_treatments(sql, overview_dict):
    sql = sql.replace('physionet-data.', '').replace('mimiciii_derived', 'mimiciii_clinical').replace('mimiciii_notes', 'mimiciii_clinical')
    temp = sql.split('JOIN')
    t = []
    if len(temp) >= 1:
        for i in temp[1:]:
            t.append(i.split(maxsplit=1)[0])
    temp = sql.split('FROM')
    if len(temp) >= 1:
        for i in temp[1:]:
            t.append(i.split(maxsplit=1)[0])
    #resolve WITH tables
    for i in t:
        idx = sql.index(i)
        if idx >= 5:
            if sql[idx-5:idx-1] == "with" or sql[idx-5:idx-1] == "WITH":
                t.pop(t.index(i))
                continue
        if idx >= 1:
            if sql[idx-1] == "," or sql[idx-2:idx] == " ," or sql[idx-2:idx] == ", ":
                t.pop(t.index(i))
                continue
    for i in t:
        if "mimiciii_clinical." + i in overview_dict['table_names']:
            sql = sql.replace(i, "mimiciii_clinical." + i)
            sql = sql.replace("mimiciii_clinical.mimiciii_clinical." + i, "mimiciii_clinical." + i)
    return sql

def _remove_comments(str1):
    # remove the /* */ comments
    q = re.sub(r"/\*[^*]*\*+(?:[^*/][^*]*\*+)*/", "", str1)
    # remove whole line -- and # comments
    lines = [line for line in q.splitlines() if not re.match("^\s*(--|#)", line)]
    # remove trailing -- and # comments
    q = " ".join([re.split("--|#", line)[0] for line in lines])
    # replace all spaces around commas
    q = re.sub(r'\s*,\s*', ',', q)
    # replace all multiple spaces to one space
    str1 = re.sub("\s\s+", " ", q)
    # adjust to create view
    idx = str1.find("CREATE VIEW")
    if idx != -1:
        idx = str1.find("AS", idx)
        str1 = str1[idx+3:]
    return str1

def _plot_postgres_db(postgres_engine):
    # Table level SQL, schema name, table name, row count
    table_sql = pd.read_sql("""SELECT s.schemaname, concat_ws('.', s.schemaname, tablename) AS table_name, hasindexes, n_live_tup AS row_count
      FROM pg_stat_user_tables s
      JOIN pg_tables t ON t.tablename = s.relname AND t.schemaname = s.schemaname ORDER BY 1,2;""", postgres_engine)
#     pd.read_sql("""SELECT t.schemaname, concat_ws('.', t.schemaname, t.tablename) AS table_name, hasindexes, CAST(reltuples AS integer) AS row_count FROM pg_class c
# JOIN pg_tables t on t.tablename = c.relname AND c.relnamespace = t.schemaname::regnamespace::oid
# WHERE t.schemaname != 'pg_catalog' AND t.schemaname != 'information_schema' AND relkind='r' ORDER BY 1,2""", postgres_engine)
    # View level SQL
    view_sql = pd.read_sql("""SELECT schemaname, concat_ws('.', v.schemaname, v.viewname) AS view_name, definition FROM pg_class c
JOIN pg_views v on v.viewname = c.relname AND c.relnamespace = v.schemaname::regnamespace::oid
WHERE v.schemaname != 'pg_catalog' AND v.schemaname != 'information_schema' AND relkind = 'v' ORDER BY 1,2""", postgres_engine)
    # PK/FK constraints
    pk_fk = pd.read_sql("""SELECT conname as constraint_name,
        CASE
            WHEN contype = 'p' THEN 'primary key'
            WHEN contype = 'f' THEN 'foreign key'
            WHEN contype = 'u' THEN 'unique key'
        END AS constraint_type
          , concat_ws('.', n.nspname, conrelid::regclass) AS "table_name"
          , CASE WHEN pg_get_constraintdef(c.oid) LIKE 'FOREIGN KEY %%' THEN substring(pg_get_constraintdef(c.oid), 14, position(')' in pg_get_constraintdef(c.oid))-14) WHEN pg_get_constraintdef(c.oid) LIKE 'PRIMARY KEY %%' THEN substring(pg_get_constraintdef(c.oid), 14, position(')' in pg_get_constraintdef(c.oid))-14) END AS "col_name"
          , CASE WHEN pg_get_constraintdef(c.oid) LIKE 'FOREIGN KEY %%' THEN concat_ws('.', n.nspname, substring(pg_get_constraintdef(c.oid), position(' REFERENCES ' in pg_get_constraintdef(c.oid))+12, position('(' in substring(pg_get_constraintdef(c.oid), 14))-position(' REFERENCES ' in pg_get_constraintdef(c.oid))+1)) END AS "ref_table"
          , CASE WHEN pg_get_constraintdef(c.oid) LIKE 'FOREIGN KEY %%' THEN substring(pg_get_constraintdef(c.oid), position('(' in substring(pg_get_constraintdef(c.oid), 14))+14, position(')' in substring(pg_get_constraintdef(c.oid), position('(' in substring(pg_get_constraintdef(c.oid), 14))+14))-1) END AS "ref_col"
          , pg_get_constraintdef(c.oid) as constraint_def,
          CASE
            WHEN confupdtype = 'a' THEN 'NO ACTION'
            WHEN confupdtype = 'r' THEN 'RESTRICT'
            WHEN confupdtype = 'c' THEN 'CASCADE'
            WHEN confupdtype = 'n' THEN 'SET NULL'
            WHEN confupdtype = 'd' THEN 'SET DEFAULT'
        END AS update_rule,
        CASE
            WHEN confdeltype = 'a' THEN 'NO ACTION'
            WHEN confdeltype = 'r' THEN 'RESTRICT'
            WHEN confdeltype = 'c' THEN 'CASCADE'
            WHEN confdeltype = 'n' THEN 'SET NULL'
            WHEN confdeltype = 'd' THEN 'SET DEFAULT'
        END AS delete_rule
    FROM   pg_constraint c
    JOIN   pg_namespace n ON n.oid = c.connamespace
    WHERE  contype IN ('f', 'p', 'u')
    ORDER  BY conrelid::regclass::text, contype DESC;""", postgres_engine)
    # List the schemas
    schema_list = list(table_sql['schemaname'])
    schema_str = ','.join(set(schema_list))
    # Stats for column level stats
    all_cols = pd.read_sql("""select DISTINCT ON(table_name, col_name) concat_ws('.',
            --n.nspname,
            attrelid::regclass) AS table_name, f.attname AS col_name,
            pg_catalog.format_type(f.atttypid,f.atttypmod) AS type, attnotnull,
            CASE
                WHEN f.atthasdef = 't' THEN d.adsrc
            END AS default, description,
            CASE
                WHEN d.adsrc LIKE 'nextval%%' THEN True
                ELSE False
            END AS auto_increment, null_frac * c.reltuples AS num_null, null_frac AS perc_of_null,
            CASE WHEN s.n_distinct < 0
                THEN -s.n_distinct * c.reltuples
                ELSE s.n_distinct
           END AS num_of_distinct,
           CASE WHEN s.n_distinct < 0
                THEN round((-s.n_distinct * 100)::numeric, 2)
                ELSE round((s.n_distinct / c.reltuples * 100)::numeric, 2)
           END AS perc_of_distinct, c.relkind
            FROM pg_attribute f
            JOIN pg_class c ON c.oid = f.attrelid
            --JOIN pg_type t ON t.oid = f.atttypid
            LEFT JOIN pg_namespace n ON n.oid = c.relnamespace
            LEFT JOIN pg_attrdef d ON d.adrelid = c.oid AND d.adnum = f.attnum
            LEFT JOIN pg_description de on de.objoid = c.oid
            LEFT JOIN pg_stats s on s.schemaname::regnamespace::oid = c.relnamespace AND s.tablename = c.relname AND s.attname = f.attname
            WHERE (c.relkind = 'v'::char or c.relkind = 'r'::char or c.relkind = 'p'::char)
            AND f.attnum > 0
            AND attisdropped is False
            AND n.nspname in ('{}');""".format(schema_str), postgres_engine)
    # Check for any table that is not in the pg_stats tables
    diff_list = list(set(all_cols['table_name']) - set(table_sql['table_name']))
    if diff_list:
        for i in diff_list:
            line = pd.DataFrame({"schemaname": i.split(".")[0], "table_name": i, "hasindexes": "False", "row_count": "n/a"}, index=[0])
            table_sql = pd.concat([table_sql, line])
    table_sql = table_sql.sort_values(by=['schemaname', 'table_name']).reset_index(drop=True)
    # List of tables
    table_list = list(table_sql['table_name'])
    view_list = list(view_sql['view_name'])
    #table_list = [m + '.' + str(n) for m, n in zip(schema_list, table_list)]
    overview_dict = {}
    # Show the stats for schemas, tables and PK/FK
    overview_dict['num_of_schemas'] = len(set(schema_list))
    overview_dict['schema_names'] = list(set(schema_list))
    overview_dict['num_of_tables'] = len(table_list)
    overview_dict['table_names'] = table_list
    overview_dict['num_of_views'] = len(view_list)
    overview_dict['view_names'] = view_list
    overview_dict['tables_no_index'] = list(table_sql[table_sql['hasindexes'] == "False"]['table_name'])
    overview_dict['num_of_pk'] = len(pk_fk[pk_fk['constraint_type'] == 'primary key'])
    overview_dict['num_of_fk'] = len(pk_fk[pk_fk['constraint_type'] == 'foreign key'])
    overview_dict['num_of_uk'] = len(pk_fk[pk_fk['constraint_type'] == 'unique key'])

    # Split into intermediate result dictionary form - table
    table_dict = {}
    for i in table_list:
        temp = {}
        temp_cols = all_cols[all_cols['table_name'] == i].drop(columns=['table_name']).to_dict(orient = 'records')
        for j in temp_cols:
            temp[j['col_name']] = {}
            element = j.pop('col_name')
            temp[element] = j
            temp[element]['children'] = list(pk_fk[(pk_fk['ref_table'] == i) & (pk_fk['ref_col'] == element)]['table_name'])
            temp[element]['parents'] = list(pk_fk[(pk_fk['table_name'] == i) & (pk_fk['col_name'] == element) & (pk_fk['constraint_type'] == 'foreign key')]['ref_table'])
        temp[i+'_num_of_parents'] = len(pk_fk[(pk_fk['table_name'] == i) & (pk_fk['constraint_type'] == 'foreign key')])
        temp[i+'_num_of_children'] = len(pk_fk[(pk_fk['ref_table'] == i)])
        temp[i+'_num_of_row'] = table_sql[table_sql['table_name'] == i]['row_count'].values[0]
        temp[i+'_num_of_cols'] = len(all_cols[all_cols['table_name'] == i])
        temp['constraints'] = {}
        temp_pk_fk = pk_fk[pk_fk['table_name'] == i].drop(columns=['table_name']).to_dict(orient = 'records')
        for j in temp_pk_fk:
            temp['constraints'][j['constraint_name']] = {}
            element = j.pop('constraint_name')
            temp['constraints'][element] = j
        table_dict[i] = temp
    # Split into intermediate result dictionary form - view
    view_dict = {}
    for i in view_list:
        temp = {}
        temp_cols = all_cols[all_cols['table_name'] == i].drop(columns=['table_name']).to_dict(orient = 'records')
        for j in temp_cols:
            temp[j['col_name']] = {}
            element = j.pop('col_name')
            temp[element] = j
        temp[i+'_num_cols'] = len(all_cols[all_cols['table_name'] == i])
        temp[i+'_definition'] = view_sql[view_sql['view_name'] == i]['definition'].values[0]
        view_dict[i] = temp
    return overview_dict, table_dict, view_dict

def _preprocess_sql(org_sql, overview_dict):
    ret_sql = _special_treatments(_remove_comments(org_sql), overview_dict)
    ret_sql = ret_sql.replace('`', '').strip()
    ret_sql = re.sub(r"DATETIME_DIFF\((.+?),\s?(.+?),\s?(DAY|MINUTE|SECOND|HOUR|YEAR)\)", r"DATETIME_DIFF(\1, \2, '\3'::TEXT)", ret_sql)
    return ret_sql

def _extract_tables(log_plan, table_list):
    temp_table = []
    for i in log_plan:
        if i[0].find("Seq Scan on") != -1:
            scan_idx = i[0].index("Seq Scan on")
            temp = i[0][scan_idx:].split(" ")
            temp_table.append(temp[3])
            continue
        elif i[0].find("Parallel Seq Scan on") != -1:
            scan_idx = i[0].index("Parallel Seq Scan on")
            temp = i[0][scan_idx:].split(" ")
            temp_table.append(temp[4])
            continue
        elif i[0].find("Bitmap Heap Scan on") != -1:
            scan_idx = i[0].index("Bitmap Heap Scan on")
            temp = i[0][scan_idx:].split(" ")
            temp_table.append(temp[4])
            continue
        elif i[0].find("Index Scan using") != -1:
            scan_idx = i[0].index("Index Scan using")
            temp = i[0][scan_idx:].split(" ")
            temp_table.append(temp[5])
            continue
        elif i[0].find("Index Only Scan using") != -1:
            scan_idx = i[0].index("Index Only Scan using")
            temp = i[0][scan_idx:].split(" ")
            temp_table.append(temp[6])
            continue
    table_list.append(temp_table)
    return table_list

def _explain_sql(conn_string, schema, name, sql, s, new_view_list, sql_files, cleaned_sql_files, file_list, sql_list, table_list, overview_dict, i):
    print(i)
    i+=1
    conn = psycopg2.connect(conn_string)
    cur = conn.cursor()
    try:
        print(name)
        cur.execute("""SET search_path TO {};""".format(schema))
        cur.execute("""EXPLAIN {}""".format(sql))
        log_plan = cur.fetchall()
        #print(log_plan)
        table_list = _extract_tables(log_plan, table_list)
        file_list.append(name)
        sql_list.append(sql)
        if schema + "." + name not in overview_dict['table_names'] and schema + "." + name not in overview_dict['view_names'] and schema + "." + name not in new_view_list:
            _create_view(schema, name, conn_string, sql, conn)
            new_view_list.append(schema + "." + name)
        print(new_view_list)
        while not s.isEmpty():
            print(s)
            f = sql_files[cleaned_sql_files.index(s.peek())]
            org_sql = open(f, mode='r', encoding='utf-8-sig').read()
            sql = _preprocess_sql(org_sql, overview_dict)
            s.pop()
            return _explain_sql(conn_string, schema, s.peek(), sql, s, new_view_list, sql_files, cleaned_sql_files, file_list, sql_list, table_list, overview_dict, i)
        print(file_list, sql_list, table_list, new_view_list, s)
        return file_list, sql_list, table_list, new_view_list
    except psycopg2.ProgrammingError as e:
        #does not exist error code
        if e.pgcode == '42P01':
            error_msg = e.pgerror
            no_find_idx = error_msg.find("does not exist")
            relation_idx = error_msg.find("relation")
            #if no_find_idx != -1 and relation_idx != -1:
            schema_table = error_msg[relation_idx:no_find_idx]
            table_name = schema_table.split(".")[-1][:-2]
            s.push(name)
            if table_name in cleaned_sql_files:
                print(name + " is dependant on " + table_name + ", creating that first\n")
                f = sql_files[cleaned_sql_files.index(table_name)]
                org_sql = open(f, mode='r', encoding='utf-8-sig').read()
                sql = _preprocess_sql(org_sql, overview_dict)
                return _explain_sql(conn_string, schema, table_name, sql, s, new_view_list, sql_files, cleaned_sql_files, file_list, sql_list, table_list, overview_dict, i)
            else:
                print("missing dependancy table " + table_name)
        else:
            print(e)
    except Exception as e:
        print(e)
    cur.close()
    conn.close()

In [5]:
url = "postgresql://34.222.81.218:5432/mimic" 
username = 'postgres'
password = 'mimic_!2#'
path = os.path.join(cwd, 'test_lineage')
schema = 'mimiciii_clinical'
conn_string  = url.split("//")[0] + "//" + username + ':' + password + "@" + url.split("//")[1]
java_conn = "jdbc:" + url
#print(conn_type, conn_string, java_conn)
postgres_engine = _check_db_connection(conn_string)
overview_dict, table_dict, view_dict = _plot_postgres_db(postgres_engine)
sql_files = _get_files(path)
#print(sql_files)
file_list = []
#org_sql_list = []
sql_list = []
table_list = []
new_view_list = []
cleaned_sql_files = []
s = Stack()
for f in sql_files:
    cleaned_sql_files.append(os.path.basename(f)[:-4])
i = 0
for f in sql_files[:1]:
    org_sql = open(f, mode='r', encoding='utf-8-sig').read()
    sql = _preprocess_sql(org_sql, overview_dict)
    name = os.path.basename(f)[:-4]
    file_list, sql_list, table_list, new_view_list = _explain_sql(conn_string, schema, name, sql, s, new_view_list, sql_files, cleaned_sql_files, file_list, sql_list, table_list, overview_dict, i)
df = pd.DataFrame({'file': file_list, 'sql':sql_list, 'tables': table_list})
_delete_view(new_view_list, conn_string)
df

database connected
0
aa_table
aa_table is dependant on a_table, creating that first

1
a_table
a_table is dependant on no_dob, creating that first

2
no_dob
no_dob is dependant on basic_patient_info, creating that first

3
basic_patient_info
mimiciii_clinical.basic_patient_info created
['mimiciii_clinical.basic_patient_info']
no_dob->a_table->aa_tabl
4
a_table
mimiciii_clinical.a_table created
['mimiciii_clinical.basic_patient_info', 'mimiciii_clinical.a_table']
a_table->aa_tabl
5
aa_table
aa_table is dependant on no_dob, creating that first

6
no_dob
mimiciii_clinical.no_dob created
['mimiciii_clinical.basic_patient_info', 'mimiciii_clinical.a_table', 'mimiciii_clinical.no_dob']
aa_table->aa_tabl
7
aa_table
mimiciii_clinical.aa_table created
['mimiciii_clinical.basic_patient_info', 'mimiciii_clinical.a_table', 'mimiciii_clinical.no_dob', 'mimiciii_clinical.aa_table']
aa_tabl
Peeking from an empty stack

TypeError: cannot unpack non-iterable NoneType object

In [4]:
new_view_list = ['mimiciii_clinical.basic_patient_info', 'mimiciii_clinical.a_table', 'mimiciii_clinical.aa_table', 'mimiciii_clinical.no_dob']
_delete_view(new_view_list, conn_string)

mimiciii_clinical.no_dob dropped
mimiciii_clinical.aa_table dropped
mimiciii_clinical.a_table dropped
mimiciii_clinical.basic_patient_info dropped

In [108]:
overview_dict, table_dict, view_dict = _plot_postgres_db(postgres_engine)
overview_dict

{'num_of_schemas': 2,
 'schema_names': ['public', 'mimiciii_clinical'],
 'num_of_tables': 286,
 'table_names': ['mimiciii_clinical.a_table',
  'mimiciii_clinical.aa_table',
  'mimiciii_clinical.admissions',
  'mimiciii_clinical.basic_patient_info',
  'mimiciii_clinical.callout',
  'mimiciii_clinical.caregivers',
  'mimiciii_clinical.chartevents_1',
  'mimiciii_clinical.chartevents_10',
  'mimiciii_clinical.chartevents_100',
  'mimiciii_clinical.chartevents_101',
  'mimiciii_clinical.chartevents_102',
  'mimiciii_clinical.chartevents_103',
  'mimiciii_clinical.chartevents_104',
  'mimiciii_clinical.chartevents_105',
  'mimiciii_clinical.chartevents_106',
  'mimiciii_clinical.chartevents_107',
  'mimiciii_clinical.chartevents_108',
  'mimiciii_clinical.chartevents_109',
  'mimiciii_clinical.chartevents_11',
  'mimiciii_clinical.chartevents_110',
  'mimiciii_clinical.chartevents_111',
  'mimiciii_clinical.chartevents_112',
  'mimiciii_clinical.chartevents_113',
  'mimiciii_clinical.chartevents_114',
  'mimiciii_clinical.chartevents_115',
  'mimiciii_clinical.chartevents_116',
  'mimiciii_clinical.chartevents_117',
  'mimiciii_clinical.chartevents_118',
  'mimiciii_clinical.chartevents_119',
  'mimiciii_clinical.chartevents_12',
  'mimiciii_clinical.chartevents_120',
  'mimiciii_clinical.chartevents_121',
  'mimiciii_clinical.chartevents_122',
  'mimiciii_clinical.chartevents_123',
  'mimiciii_clinical.chartevents_124',
  'mimiciii_clinical.chartevents_125',
  'mimiciii_clinical.chartevents_126',
  'mimiciii_clinical.chartevents_127',
  'mimiciii_clinical.chartevents_128',
  'mimiciii_clinical.chartevents_129',
  'mimiciii_clinical.chartevents_13',
  'mimiciii_clinical.chartevents_130',
  'mimiciii_clinical.chartevents_131',
  'mimiciii_clinical.chartevents_132',
  'mimiciii_clinical.chartevents_133',
  'mimiciii_clinical.chartevents_134',
  'mimiciii_clinical.chartevents_135',
  'mimiciii_clinical.chartevents_136',
  'mimiciii_clinical.chartevents_137',
  'mimiciii_clinical.chartevents_138',
  'mimiciii_clinical.chartevents_139',
  'mimiciii_clinical.chartevents_14',
  'mimiciii_clinical.chartevents_140',
  'mimiciii_clinical.chartevents_141',
  'mimiciii_clinical.chartevents_142',
  'mimiciii_clinical.chartevents_143',
  'mimiciii_clinical.chartevents_144',
  'mimiciii_clinical.chartevents_145',
  'mimiciii_clinical.chartevents_146',
  'mimiciii_clinical.chartevents_147',
  'mimiciii_clinical.chartevents_148',
  'mimiciii_clinical.chartevents_149',
  'mimiciii_clinical.chartevents_15',
  'mimiciii_clinical.chartevents_150',
  'mimiciii_clinical.chartevents_151',
  'mimiciii_clinical.chartevents_152',
  'mimiciii_clinical.chartevents_153',
  'mimiciii_clinical.chartevents_154',
  'mimiciii_clinical.chartevents_155',
  'mimiciii_clinical.chartevents_156',
  'mimiciii_clinical.chartevents_157',
  'mimiciii_clinical.chartevents_158',
  'mimiciii_clinical.chartevents_159',
  'mimiciii_clinical.chartevents_16',
  'mimiciii_clinical.chartevents_160',
  'mimiciii_clinical.chartevents_161',
  'mimiciii_clinical.chartevents_162',
  'mimiciii_clinical.chartevents_163',
  'mimiciii_clinical.chartevents_164',
  'mimiciii_clinical.chartevents_165',
  'mimiciii_clinical.chartevents_166',
  'mimiciii_clinical.chartevents_167',
  'mimiciii_clinical.chartevents_168',
  'mimiciii_clinical.chartevents_169',
  'mimiciii_clinical.chartevents_17',
  'mimiciii_clinical.chartevents_170',
  'mimiciii_clinical.chartevents_171',
  'mimiciii_clinical.chartevents_172',
  'mimiciii_clinical.chartevents_173',
  'mimiciii_clinical.chartevents_174',
  'mimiciii_clinical.chartevents_175',
  'mimiciii_clinical.chartevents_176',
  'mimiciii_clinical.chartevents_177',
  'mimiciii_clinical.chartevents_178',
  'mimiciii_clinical.chartevents_179',
  'mimiciii_clinical.chartevents_18',
  'mimiciii_clinical.chartevents_180',
  'mimiciii_clinical.chartevents_181',
  'mimiciii_clinical.chartevents_182',
  'mimiciii_clinical.chartevents_183',
  'mimiciii_clinical.chartevents_184',
  'mimiciii_clinical.chartevents_185',
  'mimiciii_clinical.chartevents_186',
  'mimiciii_clinical.chartevents_187',
  'mimiciii_clinical.chartevents_188',
  'mimiciii_clinical.chartevents_189',
  'mimiciii_clinical.chartevents_19',
  'mimiciii_clinical.chartevents_190',
  'mimiciii_clinical.chartevents_191',
  'mimiciii_clinical.chartevents_192',
  'mimiciii_clinical.chartevents_193',
  'mimiciii_clinical.chartevents_194',
  'mimiciii_clinical.chartevents_195',
  'mimiciii_clinical.chartevents_196',
  'mimiciii_clinical.chartevents_197',
  'mimiciii_clinical.chartevents_198',
  'mimiciii_clinical.chartevents_199',
  'mimiciii_clinical.chartevents_2',
  'mimiciii_clinical.chartevents_20',
  'mimiciii_clinical.chartevents_200',
  'mimiciii_clinical.chartevents_201',
  'mimiciii_clinical.chartevents_202',
  'mimiciii_clinical.chartevents_203',
  'mimiciii_clinical.chartevents_204',
  'mimiciii_clinical.chartevents_205',
  'mimiciii_clinical.chartevents_206',
  'mimiciii_clinical.chartevents_207',
  'mimiciii_clinical.chartevents_21',
  'mimiciii_clinical.chartevents_22',
  'mimiciii_clinical.chartevents_23',
  'mimiciii_clinical.chartevents_24',
  'mimiciii_clinical.chartevents_25',
  'mimiciii_clinical.chartevents_26',
  'mimiciii_clinical.chartevents_27',
  'mimiciii_clinical.chartevents_28',
  'mimiciii_clinical.chartevents_29',
  'mimiciii_clinical.chartevents_3',
  'mimiciii_clinical.chartevents_30',
  'mimiciii_clinical.chartevents_31',
  'mimiciii_clinical.chartevents_32',
  'mimiciii_clinical.chartevents_33',
  'mimiciii_clinical.chartevents_34',
  'mimiciii_clinical.chartevents_35',
  'mimiciii_clinical.chartevents_36',
  'mimiciii_clinical.chartevents_37',
  'mimiciii_clinical.chartevents_38',
  'mimiciii_clinical.chartevents_39',
  'mimiciii_clinical.chartevents_4',
  'mimiciii_clinical.chartevents_40',
  'mimiciii_clinical.chartevents_41',
  'mimiciii_clinical.chartevents_42',
  'mimiciii_clinical.chartevents_43',
  'mimiciii_clinical.chartevents_44',
  'mimiciii_clinical.chartevents_45',
  'mimiciii_clinical.chartevents_46',
  'mimiciii_clinical.chartevents_47',
  'mimiciii_clinical.chartevents_48',
  'mimiciii_clinical.chartevents_49',
  'mimiciii_clinical.chartevents_5',
  'mimiciii_clinical.chartevents_50',
  'mimiciii_clinical.chartevents_51',
  'mimiciii_clinical.chartevents_52',
  'mimiciii_clinical.chartevents_53',
  'mimiciii_clinical.chartevents_54',
  'mimiciii_clinical.chartevents_55',
  'mimiciii_clinical.chartevents_56',
  'mimiciii_clinical.chartevents_57',
  'mimiciii_clinical.chartevents_58',
  'mimiciii_clinical.chartevents_59',
  'mimiciii_clinical.chartevents_6',
  'mimiciii_clinical.chartevents_60',
  'mimiciii_clinical.chartevents_61',
  'mimiciii_clinical.chartevents_62',
  'mimiciii_clinical.chartevents_63',
  'mimiciii_clinical.chartevents_64',
  'mimiciii_clinical.chartevents_65',
  'mimiciii_clinical.chartevents_66',
  'mimiciii_clinical.chartevents_67',
  'mimiciii_clinical.chartevents_68',
  'mimiciii_clinical.chartevents_69',
  'mimiciii_clinical.chartevents_7',
  'mimiciii_clinical.chartevents_70',
  'mimiciii_clinical.chartevents_71',
  'mimiciii_clinical.chartevents_72',
  'mimiciii_clinical.chartevents_73',
  'mimiciii_clinical.chartevents_74',
  'mimiciii_clinical.chartevents_75',
  'mimiciii_clinical.chartevents_76',
  'mimiciii_clinical.chartevents_77',
  'mimiciii_clinical.chartevents_78',
  'mimiciii_clinical.chartevents_79',
  'mimiciii_clinical.chartevents_8',
  'mimiciii_clinical.chartevents_80',
  'mimiciii_clinical.chartevents_81',
  'mimiciii_clinical.chartevents_82',
  'mimiciii_clinical.chartevents_83',
  'mimiciii_clinical.chartevents_84',
  'mimiciii_clinical.chartevents_85',
  'mimiciii_clinical.chartevents_86',
  'mimiciii_clinical.chartevents_87',
  'mimiciii_clinical.chartevents_88',
  'mimiciii_clinical.chartevents_89',
  'mimiciii_clinical.chartevents_9',
  'mimiciii_clinical.chartevents_90',
  'mimiciii_clinical.chartevents_91',
  'mimiciii_clinical.chartevents_92',
  'mimiciii_clinical.chartevents_93',
  'mimiciii_clinical.chartevents_94',
  'mimiciii_clinical.chartevents_95',
  'mimiciii_clinical.chartevents_96',
  'mimiciii_clinical.chartevents_97',
  'mimiciii_clinical.chartevents_98',
  'mimiciii_clinical.chartevents_99',
  'mimiciii_clinical.cptevents',
  'mimiciii_clinical.d_cpt',
  'mimiciii_clinical.d_icd_diagnoses',
  'mimiciii_clinical.d_icd_procedures',
  'mimiciii_clinical.d_items',
  'mimiciii_clinical.d_labitems',
  'mimiciii_clinical.datetimeevents',
  'mimiciii_clinical.diagnoses_icd',
  'mimiciii_clinical.drgcodes',
  'mimiciii_clinical.icustays',
  'mimiciii_clinical.inputevents_cv',
  'mimiciii_clinical.inputevents_mv',
  'mimiciii_clinical.labevents',
  'mimiciii_clinical.microbiologyevents',
  'mimiciii_clinical.no_dob',
  'mimiciii_clinical.noteevents',
  'mimiciii_clinical.outputevents',
  'mimiciii_clinical.patients',
  'mimiciii_clinical.prescriptions',
  'mimiciii_clinical.procedureevents_mv',
  'mimiciii_clinical.procedures_icd',
  'mimiciii_clinical.services',
  'mimiciii_clinical.transfers',
  'public.adenosine_durations',
  'public.angus',
  'public.apsiii',
  'public.blood_gas_first_day',
  'public.blood_gas_first_day_arterial',
  'public.ccs_dx',
  'public.code_status',
  'public.crrt_durations',
  'public.dobutamine_durations',
  'public.dopamine_durations',
  'public.echo_data',
  'public.elixhauser_ahrq_v37',
  'public.elixhauser_ahrq_v37_no_drg',
  'public.elixhauser_quan',
  'public.elixhauser_score_ahrq',
  'public.elixhauser_score_quan',
  'public.epinephrine_durations',
  'public.explicit',
  'public.gcs_first_day',
  'public.height_first_day',
  'public.icustay_detail',
  'public.isuprel_durations',
  'public.kdigo_creatinine',
  'public.kdigo_stages',
  'public.kdigo_stages_48hr',
  'public.kdigo_stages_7day',
  'public.kdigo_uo',
  'public.labs_first_day',
  'public.lods',
  'public.martin',
  'public.meld',
  'public.milrinone_durations',
  'public.norepinephrine_durations',
  'public.oasis',
  'public.phenylephrine_durations',
  'public.rrt_first_day',
  'public.saps',
  'public.sapsii',
  'public.sirs',
  'public.sofa',
  'public.urine_output',
  'public.urine_output_first_day',
  'public.vasopressin_durations',
  'public.vasopressor_durations',
  'public.ventilation_classification',
  'public.ventilation_durations',
  'public.ventilation_first_day',
  'public.vitals_first_day',
  'public.weight_durations',
  'public.weight_first_day'],
 'num_of_views': 0,
 'view_names': [],
 'tables_no_index': [],
 'num_of_pk': 25,
 'num_of_fk': 0,
 'num_of_uk': 9}

In [31]:
script_dir = os.getcwd()
jar_file = script_dir + "/test_jdbc-1.0-SNAPSHOT-jar-with-dependencies.jar"
args = [jar_file] # Any number of args to be passed to the jar file
p = Popen(['java', '-jar']+list(args), stdout=PIPE, stderr=PIPE, shell = True)
#nextline = p.stderr.readline().decode('utf-8')

In [301]:
def _find_parens(s):
    toret = {}
    pstack = []
    for i, c in enumerate(s):
        if c == '(':
            pstack.append(i)
        elif c == ')':
            if len(pstack) == 0:
                raise IndexError("No matching closing parens at: " + str(i))
            toret[pstack.pop()] = i

    if len(pstack) > 0:
        raise IndexError("No matching opening parens at: " + str(pstack.pop()))
    return toret

def _preprocess_str(str1):
    # remove the /* */ comments
    q = re.sub(r"/\*[^*]*\*+(?:[^*/][^*]*\*+)*/", "", str1)
    # remove whole line -- and # comments
    lines = [line for line in q.splitlines() if not re.match("^\s*(--|#)", line)]
    # remove trailing -- and # comments
    q = " ".join([re.split("--|#", line)[0] for line in lines])
    # replace all spaces around commas
    q = re.sub(r'\s*,\s*', ',', q)
    # replace all multiple spaces to one space
    str1 = re.sub("\s\s+", " ", q)
    str1 = re.sub('union distinct', 'UNION', str1, flags=re.IGNORECASE)
    # bracket positions
    toret = _find_parens(str1)
    
    # change the format of DATETIME_DIFF to TIMESTAMPDIFF
    datediffs = [m.start() for m in re.finditer('DATETIME_DIFF', str1, flags=re.IGNORECASE)]
    datediff_nums = len(datediffs)
    datediff_idx = datediffs[0] + 13 if datediff_nums != 0 else None
    for i in range(datediff_nums):
        if datediff_idx in toret.keys():
            temp = str1[datediff_idx + 1:toret[datediff_idx]].split(',')
            str1 = str1[:datediff_idx-13] + "TIMESTAMPDIFF(" + temp[2] + "," + temp[0] + "," + temp[1] + ")" + str1[toret[datediff_idx] + 1:]
            toret = _find_parens(str1)
            datediff_idx = re.search('DATETIME_DIFF', str1, flags=re.IGNORECASE).start() + 13 if i < datediff_nums -1 else None
            
    # change width_bucket to NTILE since it is not implemented yet
    widthbuckets = [m.start() for m in re.finditer('width_bucket', str1, flags=re.IGNORECASE)]
    widthbucket_nums = len(widthbuckets)
    widthbucket_idx = widthbuckets[0] + 12 if widthbucket_nums != 0 else None
    for i in range(widthbucket_nums):
        if widthbucket_idx in toret.keys():
            temp = str1[widthbucket_idx + 1:toret[widthbucket_idx]].split(',')
            str1 = str1[:widthbucket_idx-12] + "NTILE(" + temp[3] +")" + str1[toret[widthbucket_idx] + 1:]
            toret = _find_parens(str1)
            widthbucket_idx = re.search('width_bucket', str1, flags=re.IGNORECASE).start() + 12 if i < widthbucket_nums -1 else None
            
    # remove DISTINCT ON -- future work to find the column
    distincts = [m.start() for m in re.finditer('DISTINCT ON', str1, flags=re.IGNORECASE)]
    distinct_nums = len(distincts)
    distinct_idx = distincts[0] + 12 if distinct_nums != 0 else None
    for i in range(distinct_nums):
        if distinct_idx in toret.keys():
            str1 = str1[:distinct_idx-12] + str1[toret[distinct_idx]+2:]
            toret = _find_parens(str1)
            distinct_idx = re.search('DISTINCT ON', str1, flags=re.IGNORECASE).start() + 12 if i < distinct_nums -1 else None
            
    # remove GENERATE_SERIES -- future work to find the columns
    gens = [m.start() for m in re.finditer('GENERATE_SERIES', str1, flags=re.IGNORECASE)]
    gen_nums = len(gens)
    gen_idx = gens[0] + 15 if gen_nums != 0 else None
    for i in range(gen_nums):
        if gen_idx in toret.keys():
            str1 = str1[:gen_idx-15] + 'CAST(1 AS Integer)' + str1[toret[gen_idx]+1:]
            toret = _find_parens(str1)
            gen_idx = re.search('GENERATE_SERIES', str1, flags=re.IGNORECASE).start() + 15 if i < gen_nums -1 else None
            
    # remove date_trunc
    truncs = [m.start() for m in re.finditer('date_trunc', str1, flags=re.IGNORECASE)]
    trunc_nums = len(truncs)
    trunc_idx = truncs[0] + 10 if trunc_nums != 0 else None
    for i in range(trunc_nums):
        if trunc_idx in toret.keys():
            sub = str1[trunc_idx-10:toret[trunc_idx]+1]
            str1 = str1[:trunc_idx-10] + sub.split(',')[1][:-1] + str1[toret[trunc_idx]+1:]
            toret = _find_parens(str1)
            trunc_idx = re.search('date_trunc', str1, flags=re.IGNORECASE).start() + 10 if i < trunc_nums -1 else None
            
    # change DATETIME_ADD to TIMESTAMPADD
    dates = [m.start() for m in re.finditer('DATETIME_ADD', str1, flags=re.IGNORECASE)]
    date_nums = len(dates)
    date_idx = dates[0] + 12 if date_nums != 0 else None
    for i in range(date_nums):
        if date_idx in toret.keys():
            temp = str1[date_idx-12:toret[date_idx]+1].split(',')
            sub = "TIMESTAMPADD(" + temp[1].split()[-1][:-1] + "," + temp[1].split()[-2] + "," + temp[0].split('(')[1] + ")"
            str1 = str1[:date_idx-12] + sub + str1[toret[date_idx]+1:]
            toret = _find_parens(str1)
            date_idx = re.search('DATETIME_ADD', str1, flags=re.IGNORECASE).start() + 12 if i < date_nums -1 else None
            
    # adjust to create view
    idx = str1.find("CREATE VIEW")
    if idx != -1:
        idx = str1.find("AS", idx)
        str1 = str1[idx+3:]
    # change brackets around table names
    from_index = str1.find('FROM')
    flag = True
    if toret:
        while flag:
            for i in toret.keys():
                # to elminate single bracket after from a table
                if from_index != -1 and from_index + 5 in toret.keys():
                    i = from_index + 5
                    if str1[i+1:i+8].casefold() != 'select '.casefold():
                        str1 = str1[:i] + str1[i+1:toret[i]] + str1[toret[i]+1:]
                        from_index = str1.find('FROM'.casefold(), from_index+1)
                        toret = _find_parens(str1)
                        flag = True
                        break
                if i+1 in toret.keys():
                    # to eliminate general double brackets
                    if toret[i+1] == toret[i] - 1:
                        str1 = str1[:i] + str1[i+1:toret[i]] + str1[toret[i]+1:]
                        toret = _find_parens(str1)
                        flag = True
                        break
                    # to eliminate double brackets before select
                    elif str1[i+2:i+8].casefold() == 'select'.casefold():
                        str1 = str1[:i] + str1[i+1:toret[i]] + str1[toret[i]+1:]
                        toret = _find_parens(str1)
                        flag = True
                        break
                flag = False
            if flag:
                continue
            else:
                break
    return str1.replace('`', '').replace(';', '').strip()#.lower()

In [302]:
f = "D:\\WORK\\PhD\\notebook/mimic-code/mimic-iii/concepts/cookbook/uo.sql"
org_sql = open(f, mode='r', encoding='utf-8-sig').read()
_preprocess_str(org_sql).replace('physionet-data.', '')

'WITH agetbl AS ( SELECT ie.icustay_id,ie.intime FROM mimiciii_clinical.icustays ie INNER JOIN patients p ON ie.subject_id = p.subject_id WHERE TIMESTAMPDIFF(YEAR,ie.intime,p.dob) > 15 ),uo_sum as ( select oe.icustay_id,sum(oe.VALUE) as urineoutput FROM outputevents oe INNER JOIN agetbl ON oe.icustay_id = agetbl.icustay_id and oe.charttime between agetbl.intime and (TIMESTAMPADD(DAY,1,agetbl.intime)) WHERE itemid IN ( 40055,43175,40069,40094,40715,40473,40085,40057,40056,40405,40428,40086,40096,40651,226559,226560,227510,226561,226584,226563,226564,226565,226567,226557,226558 ) group by oe.icustay_id ),uo as ( SELECT NTILE(50) AS bucket FROM uo_sum ) SELECT bucket*100 as UrineOutput,COUNT(*) FROM uo GROUP BY bucket ORDER BY bucket'

In [303]:
sql = _preprocess_str(org_sql).replace('physionet-data.', '')
temp = sql.split('JOIN')
t = []
if len(temp) >= 1:
    for i in temp[1:]:
        t.append(i.split(maxsplit=1)[0])
temp = sql.split('FROM')
if len(temp) >= 1:
    for i in temp[1:]:
        t.append(i.split(maxsplit=1)[0])
for i in t:
    if "mimiciii_clinical." + i in overview_dict['table_names']:
        sql = sql.replace(i, "mimiciii_clinical." + i)
        sql = sql.replace("mimiciii_clinical.mimiciii_clinical." + i, "mimiciii_clinical." + i)
sql = sql.lower()

In [304]:
sql

'with agetbl as ( select ie.icustay_id,ie.intime from mimiciii_clinical.icustays ie inner join mimiciii_clinical.patients p on ie.subject_id = p.subject_id where timestampdiff(year,ie.intime,p.dob) > 15 ),uo_sum as ( select oe.icustay_id,sum(oe.value) as urineoutput from mimiciii_clinical.outputevents oe inner join agetbl on oe.icustay_id = agetbl.icustay_id and oe.charttime between agetbl.intime and (timestampadd(day,1,agetbl.intime)) where itemid in ( 40055,43175,40069,40094,40715,40473,40085,40057,40056,40405,40428,40086,40096,40651,226559,226560,227510,226561,226584,226563,226564,226565,226567,226557,226558 ) group by oe.icustay_id ),uo as ( select ntile(50) as bucket from uo_sum ) select bucket*100 as urineoutput,count(*) from uo group by bucket order by bucket'

In [32]:
from py4j.java_gateway import JavaGateway
gateway = JavaGateway()
gateway.get_table('jdbc:postgresql://52.89.148.112:5432/mimic', 'postgres', 'password', """select * from mimiciii_clinical.patients""")

'mimiciii_clinical.patients'

In [9]:
pd.read_sql('SELECT * FROM mimiciii_clinical.outputevents limit 5', postgres_engine)

,row_id,subject_id,hadm_id,icustay_id,charttime,itemid,value_temp,valueuom,storetime,cgid,stopped,newbottle,iserror
0,344,21219,177991,225765,2142-09-08 10:00:00,40055,200.0,ml,2142-09-08 12:08:00,17269,None,None,None
1,345,21219,177991,225765,2142-09-08 12:00:00,40055,200.0,ml,2142-09-08 12:08:00,17269,None,None,None
2,346,21219,177991,225765,2142-09-08 13:00:00,40055,120.0,ml,2142-09-08 13:39:00,17269,None,None,None
3,347,21219,177991,225765,2142-09-08 14:00:00,40055,100.0,ml,2142-09-08 16:17:00,17269,None,None,None
4,348,21219,177991,225765,2142-09-08 16:00:00,40055,200.0,ml,2142-09-08 16:17:00,17269,None,None,None

In [2]:
def plot_postgres_db(postgres_engine):
    # Table level SQL, schema name, table name, row count
    table_sql = pd.read_sql("""SELECT s.schemaname, concat_ws('.', s.schemaname, tablename) AS table_name, hasindexes, n_live_tup AS row_count
      FROM pg_stat_user_tables s
      JOIN pg_tables t ON t.tablename = s.relname AND t.schemaname = s.schemaname ORDER BY 1,2;""", postgres_engine)
#     pd.read_sql("""SELECT t.schemaname, concat_ws('.', t.schemaname, t.tablename) AS table_name, hasindexes, CAST(reltuples AS integer) AS row_count FROM pg_class c
# JOIN pg_tables t on t.tablename = c.relname AND c.relnamespace = t.schemaname::regnamespace::oid
# WHERE t.schemaname != 'pg_catalog' AND t.schemaname != 'information_schema' AND relkind='r' ORDER BY 1,2""", postgres_engine)
    # View level SQL
    view_sql = pd.read_sql("""SELECT schemaname, concat_ws('.', v.schemaname, v.viewname) AS view_name, definition FROM pg_class c
JOIN pg_views v on v.viewname = c.relname AND c.relnamespace = v.schemaname::regnamespace::oid
WHERE v.schemaname != 'pg_catalog' AND v.schemaname != 'information_schema' AND relkind = 'v' ORDER BY 1,2""", postgres_engine)
    # PK/FK constraints
    pk_fk = pd.read_sql("""SELECT conname as constraint_name, 
        CASE
            WHEN contype = 'p' THEN 'primary key'
            WHEN contype = 'f' THEN 'foreign key'
            WHEN contype = 'u' THEN 'unique key'
        END AS constraint_type
          , concat_ws('.', n.nspname, conrelid::regclass) AS "table_name"
          , CASE WHEN pg_get_constraintdef(c.oid) LIKE 'FOREIGN KEY %%' THEN substring(pg_get_constraintdef(c.oid), 14, position(')' in pg_get_constraintdef(c.oid))-14) WHEN pg_get_constraintdef(c.oid) LIKE 'PRIMARY KEY %%' THEN substring(pg_get_constraintdef(c.oid), 14, position(')' in pg_get_constraintdef(c.oid))-14) END AS "col_name"
          , CASE WHEN pg_get_constraintdef(c.oid) LIKE 'FOREIGN KEY %%' THEN concat_ws('.', n.nspname, substring(pg_get_constraintdef(c.oid), position(' REFERENCES ' in pg_get_constraintdef(c.oid))+12, position('(' in substring(pg_get_constraintdef(c.oid), 14))-position(' REFERENCES ' in pg_get_constraintdef(c.oid))+1)) END AS "ref_table"
          , CASE WHEN pg_get_constraintdef(c.oid) LIKE 'FOREIGN KEY %%' THEN substring(pg_get_constraintdef(c.oid), position('(' in substring(pg_get_constraintdef(c.oid), 14))+14, position(')' in substring(pg_get_constraintdef(c.oid), position('(' in substring(pg_get_constraintdef(c.oid), 14))+14))-1) END AS "ref_col"
          , pg_get_constraintdef(c.oid) as constraint_def, 
          CASE
            WHEN confupdtype = 'a' THEN 'NO ACTION'
            WHEN confupdtype = 'r' THEN 'RESTRICT'
            WHEN confupdtype = 'c' THEN 'CASCADE'
            WHEN confupdtype = 'n' THEN 'SET NULL'
            WHEN confupdtype = 'd' THEN 'SET DEFAULT'
        END AS update_rule, 
        CASE
            WHEN confdeltype = 'a' THEN 'NO ACTION'
            WHEN confdeltype = 'r' THEN 'RESTRICT'
            WHEN confdeltype = 'c' THEN 'CASCADE'
            WHEN confdeltype = 'n' THEN 'SET NULL'
            WHEN confdeltype = 'd' THEN 'SET DEFAULT'
        END AS delete_rule 
    FROM   pg_constraint c
    JOIN   pg_namespace n ON n.oid = c.connamespace
    WHERE  contype IN ('f', 'p', 'u')
    ORDER  BY conrelid::regclass::text, contype DESC;""", postgres_engine)
    # List the schemas
    schema_list = list(table_sql['schemaname'])
    schema_str = ','.join(set(schema_list))
    # Stats for column level stats
    all_cols = pd.read_sql("""select DISTINCT ON(table_name, col_name) concat_ws('.', 
            --n.nspname, 
            attrelid::regclass) AS table_name, f.attname AS col_name, 
            pg_catalog.format_type(f.atttypid,f.atttypmod) AS type, attnotnull,
            CASE
                WHEN f.atthasdef = 't' THEN d.adsrc
            END AS default, description,
            CASE
                WHEN d.adsrc LIKE 'nextval%%' THEN True
                ELSE False
            END AS auto_increment, null_frac * c.reltuples AS num_null, null_frac AS perc_of_null, 
            CASE WHEN s.n_distinct < 0
                THEN -s.n_distinct * c.reltuples
                ELSE s.n_distinct
           END AS num_of_distinct, 
           CASE WHEN s.n_distinct < 0
                THEN round((-s.n_distinct * 100)::numeric, 2)
                ELSE round((s.n_distinct / c.reltuples * 100)::numeric, 2)
           END AS perc_of_distinct, c.relkind
            FROM pg_attribute f  
            JOIN pg_class c ON c.oid = f.attrelid  
            --JOIN pg_type t ON t.oid = f.atttypid
            LEFT JOIN pg_namespace n ON n.oid = c.relnamespace
            LEFT JOIN pg_attrdef d ON d.adrelid = c.oid AND d.adnum = f.attnum
            LEFT JOIN pg_description de on de.objoid = c.oid
            LEFT JOIN pg_stats s on s.schemaname::regnamespace::oid = c.relnamespace AND s.tablename = c.relname AND s.attname = f.attname
            WHERE (c.relkind = 'v'::char or c.relkind = 'r'::char or c.relkind = 'p'::char) 
            AND f.attnum > 0
            AND attisdropped is False
            AND n.nspname in ('{}');""".format(schema_str), postgres_engine)
    # Check for any table that is not in the pg_stats tables
    diff_list = list(set(all_cols['table_name']) - set(table_sql['table_name']))
    if diff_list:
        for i in diff_list:
            line = pd.DataFrame({"schemaname": i.split(".")[0], "table_name": i, "hasindexes": "False", "row_count": "n/a"}, index=[0])
            table_sql = pd.concat([table_sql, line])
    table_sql = table_sql.sort_values(by=['schemaname', 'table_name']).reset_index(drop=True)
    # List of tables
    table_list = list(table_sql['table_name'])
    view_list = list(view_sql['view_name'])
    #table_list = [m + '.' + str(n) for m, n in zip(schema_list, table_list)]
    overview_dict = {}
    # Show the stats for schemas, tables and PK/FK
    overview_dict['num_of_schemas'] = len(set(schema_list))
    overview_dict['schema_names'] = list(set(schema_list))
    overview_dict['num_of_tables'] = len(table_list)
    overview_dict['table_names'] = table_list
    overview_dict['num_of_views'] = len(view_list)
    overview_dict['view_names'] = view_list
    overview_dict['tables_no_index'] = list(table_sql[table_sql['hasindexes'] == "False"]['table_name'])
    overview_dict['num_of_pk'] = len(pk_fk[pk_fk['constraint_type'] == 'primary key'])
    overview_dict['num_of_fk'] = len(pk_fk[pk_fk['constraint_type'] == 'foreign key'])
    overview_dict['num_of_uk'] = len(pk_fk[pk_fk['constraint_type'] == 'unique key'])
   
    # Split into intermediate result dictionary form - table
    table_dict = {}
    for i in table_list:
        temp = {}
        temp_cols = all_cols[all_cols['table_name'] == i].drop(columns=['table_name']).to_dict(orient = 'records')
        for j in temp_cols:
            temp[j['col_name']] = {}
            element = j.pop('col_name')
            temp[element] = j
            temp[element]['children'] = list(pk_fk[(pk_fk['ref_table'] == i) & (pk_fk['ref_col'] == element)]['table_name'])
            temp[element]['parents'] = list(pk_fk[(pk_fk['table_name'] == i) & (pk_fk['col_name'] == element) & (pk_fk['constraint_type'] == 'foreign key')]['ref_table'])
        temp[i+'_num_of_parents'] = len(pk_fk[(pk_fk['table_name'] == i) & (pk_fk['constraint_type'] == 'foreign key')])
        temp[i+'_num_of_children'] = len(pk_fk[(pk_fk['ref_table'] == i)])
        temp[i+'_num_of_row'] = table_sql[table_sql['table_name'] == i]['row_count'].values[0]
        temp[i+'_num_of_cols'] = len(all_cols[all_cols['table_name'] == i])
        temp['constraints'] = {}
        temp_pk_fk = pk_fk[pk_fk['table_name'] == i].drop(columns=['table_name']).to_dict(orient = 'records')
        for j in temp_pk_fk:
            temp['constraints'][j['constraint_name']] = {}
            element = j.pop('constraint_name')
            temp['constraints'][element] = j
        table_dict[i] = temp
    # Split into intermediate result dictionary form - view
    view_dict = {}
    for i in view_list:
        temp = {}
        temp_cols = all_cols[all_cols['table_name'] == i].drop(columns=['table_name']).to_dict(orient = 'records')
        for j in temp_cols:
            temp[j['col_name']] = {}
            element = j.pop('col_name')
            temp[element] = j
        temp[i+'_num_cols'] = len(all_cols[all_cols['table_name'] == i])
        temp[i+'_definition'] = view_sql[view_sql['view_name'] == i]['definition'].values[0]
        view_dict[i] = temp
    return overview_dict, table_dict, view_dict

In [58]:
user = 'postgres'
pw = 'mimic_!2#'
conn_string = 'postgresql://' + user + ':' + pw + '@34.222.81.218:5432/mimic'
postgres_engine = create_engine(conn_string)
conn = psycopg2.connect(conn_string)
cur = conn.cursor()
try:
    cur.execute("""SET search_path TO mimiciii;""")
    cur.execute("""EXPLAIN WITH ht AS
    (
      SELECT valuenum, width_bucket(valuenum, 1, 200, 200) AS bucket
      FROM mimiciii_clinical.chartevents
      WHERE itemid in (920,226730)
      AND valuenum IS NOT NULL
      AND valuenum > 0
      AND valuenum < 500
    )
    SELECT bucket as height, count(*)
    FROM ht
    GROUP BY bucket
    ORDER BY bucket;
    """)
    l = cur.fetchall()
except psycopg2.ProgrammingError  as e:
    #does not exist error code
    if e.pgcode == '42P01':
        error_msg = e.pgerror
        no_find_idx = error_msg.find("does not exist")
        relation_idx = error_msg.find("relation")
        #if no_find_idx != -1 and relation_idx != -1:
        schema_table = error_msg[relation_idx:no_find_idx]
        table_name = schema_table.split(".")[-1][:-2]
        print(table_name)
    else:
        print(e)
except Exception as e:
    print(e)
cur.close()
conn.close()

In [45]:
for i in l:
    print(i)

('Sort  (cost=30811.38..30811.88 rows=200 width=12)',)
('  Sort Key: ht.bucket',)
('  CTE ht',)
('    ->  Result  (cost=788.19..30619.36 rows=7295 width=12)',)
('          ->  Append  (cost=788.19..30528.17 rows=7295 width=8)',)
('                ->  Bitmap Heap Scan on chartevents_90  (cost=788.19..19205.89 rows=5874 width=8)',)
("                      Recheck Cond: (itemid = ANY ('{920,226730}'::integer[]))",)
("                      Filter: ((valuenum IS NOT NULL) AND (valuenum > '0'::double precision) AND (valuenum < '500'::double precision))",)
('                      ->  Bitmap Index Scan on chartevents_90_idx01  (cost=0.00..786.72 rows=42383 width=0)',)
("                            Index Cond: (itemid = ANY ('{920,226730}'::integer[]))",)
('                ->  Bitmap Heap Scan on chartevents_201  (cost=92.60..11322.28 rows=1421 width=8)',)
("                      Recheck Cond: (itemid = ANY ('{920,226730}'::integer[]))",)
("                      Filter: ((valuenum IS NOT NULL) AND (valuenum > '0'::double precision) AND (valuenum < '500'::double precision))",)
('                      ->  Bitmap Index Scan on chartevents_201_idx01  (cost=0.00..92.24 rows=4717 width=0)',)
("                            Index Cond: (itemid = ANY ('{920,226730}'::integer[]))",)
('  ->  HashAggregate  (cost=182.38..184.38 rows=200 width=12)',)
('        Group Key: ht.bucket',)
('        ->  CTE Scan on ht  (cost=0.00..145.90 rows=7295 width=4)',)

In [47]:
cur.close()
conn = psycopg2.connect(conn_string)
cur = conn.cursor()
cur.execute("""SET search_path TO mimiciii_clinical;""")
cur.execute("""EXPLAIN WITH agetbl AS
(
    SELECT ad.subject_id
    FROM mimiciii_clinical.admissions ad
    INNER JOIN mimiciii_clinical.patients p
    ON ad.subject_id = p.subject_id
    WHERE
     -- filter to only adults
    DATETIME_DIFF(ad.admittime, p.dob, 'YEAR') > 15
    -- group by subject_id to ensure there is only 1 subject_id per row
    group by ad.subject_id
)
, bun as
(
  SELECT width_bucket(valuenum, 0, 280, 280) AS bucket
  FROM mimiciii_clinical.labevents le
  INNER JOIN agetbl
  ON le.subject_id = agetbl.subject_id
  WHERE itemid IN (51006)
)
SELECT bucket as blood_urea_nitrogen, count(*)
FROM bun
GROUP BY bucket
ORDER BY bucket;
""")
l = cur.fetchall()

In [94]:
user = 'postgres'
pw = 'password'
conn_string = 'postgresql://' + user + ':' + pw + '@52.89.148.112:5432/mimic'
postgres_engine = create_engine(conn_string)
conn = psycopg2.connect(conn_string)
cur = conn.cursor()
cur.execute("""SET search_path TO mimiciii_clinical;""")
cur.execute("""CREATE VIEW public.test AS WITH agetbl AS ( SELECT ad.subject_id FROM mimiciii_clinical.admissions ad INNER JOIN mimiciii_clinical.patients p ON ad.subject_id = p.subject_id WHERE DATETIME_DIFF(ad.admittime, p.dob, 'YEAR'::TEXT) > 15 group by ad.subject_id ),bun as ( SELECT width_bucket(valuenum,0,280,280) AS bucket FROM mimiciii_clinical.labevents le INNER JOIN agetbl ON le.subject_id = agetbl.subject_id WHERE itemid IN (51006) ) SELECT bucket as blood_urea_nitrogen,count(*) FROM bun GROUP BY bucket ORDER BY bucket;""")
#cur.fetchall()
conn.commit()
cur.close()
conn.close()

In [75]:
org_sql = """-- --------------------------------------------------------
-- Title: Create a distribution of BUN values for adult hospital admissions
-- Notes: this query does not specify a schema. To run it on your local
-- MIMIC schema, run the following command:
--  SET SEARCH_PATH TO mimiciii;
-- Where "mimiciii" is the name of your schema, and may be different.
-- --------------------------------------------------------

WITH agetbl AS
(
    SELECT ad.subject_id
    FROM `physionet-data.mimiciii_clinical.admissions` ad
    INNER JOIN patients p
    ON ad.subject_id = p.subject_id
    WHERE
     -- filter to only adults
    DATETIME_DIFF(ad.admittime, p.dob, YEAR) > 15
    -- group by subject_id to ensure there is only 1 subject_id per row
    group by ad.subject_id
)
, bun as
(
  SELECT width_bucket(valuenum, 0, 280, 280) AS bucket
  FROM `physionet-data.mimiciii_clinical.labevents` le
  INNER JOIN agetbl
  ON le.subject_id = agetbl.subject_id
  WHERE itemid IN (51006)
)
SELECT bucket as blood_urea_nitrogen, count(*)
FROM bun
GROUP BY bucket
ORDER BY bucket;"""

In [76]:
def _special_treatments(sql):
    sql = sql.replace('physionet-data.', '').replace('oe.VALUE', 'oe.value_temp').replace('mimiciii_derived', 'public')
    temp = sql.split('JOIN')
    t = []
    if len(temp) >= 1:
        for i in temp[1:]:
            t.append(i.split(maxsplit=1)[0])
    temp = sql.split('FROM')
    if len(temp) >= 1:
        for i in temp[1:]:
            t.append(i.split(maxsplit=1)[0])
    #resolve WITH tables
    for i in t:
        idx = sql.index(i)
        if idx >= 5:
            if sql[idx-5:idx-1] == "with" or sql[idx-5:idx-1] == "WITH":
                t.pop(t.index(i))
                continue
        if idx >= 1:
            if sql[idx-1] == "," or sql[idx-2:idx] == " ," or sql[idx-2:idx] == ", ":
                t.pop(t.index(i))
                continue
    for i in t:
        if "mimiciii_clinical." + i in overview_dict['table_names']:
            sql = sql.replace(i, "mimiciii_clinical." + i)
            sql = sql.replace("mimiciii_clinical.mimiciii_clinical." + i, "mimiciii_clinical." + i)
    return sql

In [77]:
def _remove_comments(str1):
    # remove the /* */ comments
    q = re.sub(r"/\*[^*]*\*+(?:[^*/][^*]*\*+)*/", "", org_sql)
    # remove whole line -- and # comments
    lines = [line for line in q.splitlines() if not re.match("^\s*(--|#)", line)]
    # remove trailing -- and # comments
    q = " ".join([re.split("--|#", line)[0] for line in lines])
    # replace all spaces around commas
    q = re.sub(r'\s*,\s*', ',', q)
    # replace all multiple spaces to one space
    str1 = re.sub("\s\s+", " ", q)
    return str1

In [78]:
def _find_parens(s):
    toret = {}
    pstack = []
    for i, c in enumerate(s):
        if c == '(':
            pstack.append(i)
        elif c == ')':
            if len(pstack) == 0:
                raise IndexError("No matching closing parens at: " + str(i))
            toret[pstack.pop()] = i

    if len(pstack) > 0:
        raise IndexError("No matching opening parens at: " + str(pstack.pop()))
    return toret

In [79]:
str1 = _special_treatments(_remove_comments(org_sql))
str1 = str1.replace('`', '').strip()
str1

'WITH agetbl AS ( SELECT ad.subject_id FROM mimiciii_clinical.admissions ad INNER JOIN mimiciii_clinical.patients p ON ad.subject_id = p.subject_id WHERE DATETIME_DIFF(ad.admittime,p.dob,YEAR) > 15 group by ad.subject_id ),bun as ( SELECT width_bucket(valuenum,0,280,280) AS bucket FROM mimiciii_clinical.labevents le INNER JOIN agetbl ON le.subject_id = agetbl.subject_id WHERE itemid IN (51006) ) SELECT bucket as blood_urea_nitrogen,count(*) FROM bun GROUP BY bucket ORDER BY bucket;'

In [93]:
re.sub(r"DATETIME_DIFF\((.+?),\s?(.+?),\s?(DAY|MINUTE|SECOND|HOUR|YEAR)\)", r"DATETIME_DIFF(\1, \2, '\3'::TEXT)", str1)

"WITH agetbl AS ( SELECT ad.subject_id FROM mimiciii_clinical.admissions ad INNER JOIN mimiciii_clinical.patients p ON ad.subject_id = p.subject_id WHERE DATETIME_DIFF(ad.admittime, p.dob, 'YEAR'::TEXT) > 15 group by ad.subject_id ),bun as ( SELECT width_bucket(valuenum,0,280,280) AS bucket FROM mimiciii_clinical.labevents le INNER JOIN agetbl ON le.subject_id = agetbl.subject_id WHERE itemid IN (51006) ) SELECT bucket as blood_urea_nitrogen,count(*) FROM bun GROUP BY bucket ORDER BY bucket;"

In [105]:
str1 = """ WITH wt_neonate AS ( SELECT c.icustay_id,c.charttime,MAX(CASE WHEN c.itemid = 3580 THEN c.valuenum END) as wt_kg,MAX(CASE WHEN c.itemid = 3581 THEN c.valuenum END) as wt_lb,MAX(CASE WHEN c.itemid = 3582 THEN c.valuenum END) as wt_oz FROM `physionet-data.mimiciii_clinical.chartevents` c WHERE c.itemid in (3580,3581,3582) AND c.icustay_id IS NOT NULL AND COALESCE(c.error,0) = 0 AND c.valuenum > 0 GROUP BY c.icustay_id,c.charttime ),birth_wt AS ( SELECT c.icustay_id,c.charttime,MAX( CASE WHEN c.itemid = 4183 THEN CASE WHEN REGEXP_CONTAINS(c.value,'[^0-9\\.]') THEN NULL WHEN CAST(c.value AS NUMERIC) > 100 THEN CAST(c.value AS NUMERIC)/1000 WHEN CAST(c.value AS NUMERIC) < 10 THEN CAST(c.value AS NUMERIC) ELSE NULL END WHEN c.itemid = 3723 AND c.valuenum < 10 THEN c.valuenum ELSE NULL END) as wt_kg FROM `physionet-data.mimiciii_clinical.chartevents` c WHERE c.itemid in (3723,4183) AND c.icustay_id IS NOT NULL AND COALESCE(c.error,0) = 0 GROUP BY c.icustay_id,c.charttime ),wt_stg as ( SELECT c.icustay_id,c.charttime,case when c.itemid in (762,226512) then 'admit' else 'daily' end as weight_type,c.valuenum as weight FROM `physionet-data.mimiciii_clinical.chartevents` c WHERE c.valuenum IS NOT NULL AND c.itemid in ( 762,226512,763,224639 ) AND c.icustay_id IS NOT NULL AND c.valuenum > 0 AND COALESCE(c.error,0) = 0 UNION ALL SELECT n.icustay_id,n.charttime,'daily' AS weight_type,CASE WHEN wt_kg IS NOT NULL THEN wt_kg WHEN wt_lb IS NOT NULL THEN wt_lb*0.45359237 + wt_oz*0.0283495231 ELSE NULL END AS weight FROM wt_neonate n UNION ALL SELECT b.icustay_id,b.charttime,'admit' AS weight_type,wt_kg as weight FROM birth_wt b ),echo as ( select ie.icustay_id,ec.charttime,'echo' AS weight_type,0.453592*ec.weight as weight from `physionet-data.mimiciii_clinical.icustays` ie inner join `physionet-data.mimiciii_derived.echo_data` ec on ie.hadm_id = ec.hadm_id where ec.weight is not null and ie.icustay_id not in (select distinct icustay_id from wt_stg) ),wt_stg0 AS ( SELECT icustay_id,charttime,weight_type,weight FROM wt_stg UNION ALL SELECT icustay_id,charttime,weight_type,weight FROM echo ),wt_stg1 as ( select icustay_id,charttime,weight_type,weight,ROW_NUMBER() OVER (partition by icustay_id,weight_type order by charttime) as rn from wt_stg0 WHERE weight IS NOT NULL ),wt_stg2 AS ( SELECT wt_stg1.icustay_id,ie.intime,ie.outtime,case when wt_stg1.weight_type = 'admit' and wt_stg1.rn = 1 then DATETIME_SUB(ie.intime,INTERVAL '2' HOUR) else wt_stg1.charttime end as starttime,wt_stg1.weight from wt_stg1 INNER JOIN `physionet-data.mimiciii_clinical.icustays` ie on ie.icustay_id = wt_stg1.icustay_id ),wt_stg3 as ( select icustay_id,intime,outtime,starttime,coalesce( LEAD(starttime) OVER (PARTITION BY icustay_id ORDER BY starttime),DATETIME_ADD(GREATEST(outtime,starttime),INTERVAL '2' HOUR) ) as endtime,weight from wt_stg2 ),wt1 as ( select icustay_id,starttime,coalesce(endtime,LEAD(starttime) OVER (partition by icustay_id order by starttime),DATETIME_ADD(outtime,INTERVAL '2' HOUR) ) as endtime,weight from wt_stg3 ),wt_fix as ( select ie.icustay_id,DATETIME_SUB(ie.intime,INTERVAL '2' HOUR) as starttime,wt.starttime as endtime,wt.weight from `physionet-data.mimiciii_clinical.icustays` ie inner join ( SELECT wt1.icustay_id,wt1.starttime,wt1.weight,ROW_NUMBER() OVER (PARTITION BY wt1.icustay_id ORDER BY wt1.starttime) as rn FROM wt1 ) wt ON ie.icustay_id = wt.icustay_id AND wt.rn = 1 and ie.intime < wt.starttime ) select wt1.icustay_id,wt1.starttime,wt1.endtime,wt1.weight from wt1 UNION ALL SELECT wt_fix.icustay_id,wt_fix.starttime,wt_fix.endtime,wt_fix.weight from wt_fix"""

In [122]:
s = "DATETIME_ADD(GREATEST(outtime,starttime),INTERVAL '2' HOUR)"
temp = s.split(',')
sub = "TIMESTAMPADD(" + temp[-1][:-1].split(" ")[-1] + "," + re.split(r"(.*)(?=\s)", s)[1].split('INTERVAL')[-1] + "," + re.split(r"(\()(.*)", re.split(r"(.*)(?=\,)", s)[1])[-2] + ")"
sub

"TIMESTAMPADD(HOUR, '2',GREATEST(outtime,starttime))"

In [121]:
re.split(r"(\()(.*)", re.split(r"(.*)(?=\,)", s)[1])[-2]

'GREATEST(outtime,starttime)'

In [120]:
re.split(r"(.*)(?=\,)", s)[1]

['', 'DATETIME_ADD(GREATEST(outtime,starttime)', '', '', ",INTERVAL '2' HOUR)"]

In [112]:
temp

['DATETIME_ADD(GREATEST(outtime', 'starttime)', "INTERVAL '2' HOUR)"]

In [7]:
import os
from subprocess import *
cwd = os.getcwd()
url = "postgresql://52.89.148.112:5432/mimic"
username = 'postgres'
password = 'password'
conn_string  = url.split("//")[0] + "//" + username + ':' + password + "@" + url.split("//")[1]

command = "pg_dump --dbname={} -s > {}".format(conn_string, os.path.join(cwd, 'schema.sql'))
p = Popen(command,shell=True,stdin=PIPE,stdout=PIPE,stderr=PIPE, env={'PATH': os.getenv('PATH')})
p.communicate()

(b'',
 b'pg_dump: [archiver (db)] connection to database "mimic" failed: could not create socket: The requested service provider could not be loaded or initialized.\r\r\n (0x0000277A/10106)\r\n')

In [7]:
user = 'postgres'
pw = 'mimic_!2#'
conn_string = 'postgresql://' + user + ':' + pw + '@34.222.81.218:5432/mimic'
postgres_engine = create_engine(conn_string)
overview_dict, table_dict, view_dict = plot_postgres_db(postgres_engine)
overview_dict

{'num_of_schemas': 2,
 'schema_names': ['mimiciii_clinical', 'public'],
 'num_of_tables': 104,
 'table_names': ['mimiciii_clinical.admissions',
  'mimiciii_clinical.agetbl',
  'mimiciii_clinical.bun',
  'mimiciii_clinical.callout',
  'mimiciii_clinical.caregivers',
  'mimiciii_clinical.chartevents',
  'mimiciii_clinical.chartevents_1',
  'mimiciii_clinical.chartevents_10',
  'mimiciii_clinical.chartevents_11',
  'mimiciii_clinical.chartevents_12',
  'mimiciii_clinical.chartevents_13',
  'mimiciii_clinical.chartevents_14',
  'mimiciii_clinical.chartevents_15',
  'mimiciii_clinical.chartevents_16',
  'mimiciii_clinical.chartevents_17',
  'mimiciii_clinical.chartevents_2',
  'mimiciii_clinical.chartevents_3',
  'mimiciii_clinical.chartevents_4',
  'mimiciii_clinical.chartevents_5',
  'mimiciii_clinical.chartevents_6',
  'mimiciii_clinical.chartevents_7',
  'mimiciii_clinical.chartevents_8',
  'mimiciii_clinical.chartevents_9',
  'mimiciii_clinical.cptevents',
  'mimiciii_clinical.d_cpt',
  'mimiciii_clinical.d_icd_diagnoses',
  'mimiciii_clinical.d_icd_procedures',
  'mimiciii_clinical.d_items',
  'mimiciii_clinical.d_labitems',
  'mimiciii_clinical.datetimeevents',
  'mimiciii_clinical.diagnoses_icd',
  'mimiciii_clinical.drgcodes',
  'mimiciii_clinical.gcs',
  'mimiciii_clinical.glucose',
  'mimiciii_clinical.hco',
  'mimiciii_clinical.heart_rate',
  'mimiciii_clinical.icustays',
  'mimiciii_clinical.inputevents_cv',
  'mimiciii_clinical.inputevents_mv',
  'mimiciii_clinical.labevents',
  'mimiciii_clinical.microbiologyevents',
  'mimiciii_clinical.noteevents',
  'mimiciii_clinical.outputevents',
  'mimiciii_clinical.patients',
  'mimiciii_clinical.potassium',
  'mimiciii_clinical.prescriptions',
  'mimiciii_clinical.procedureevents_mv',
  'mimiciii_clinical.procedures_icd',
  'mimiciii_clinical.sbp',
  'mimiciii_clinical.services',
  'mimiciii_clinical.sodium',
  'mimiciii_clinical.temp',
  'mimiciii_clinical.transfers',
  'mimiciii_clinical.wbc',
  'public.adenosine_durations',
  'public.angus',
  'public.apsiii',
  'public.blood_gas_first_day',
  'public.blood_gas_first_day_arterial',
  'public.ccs_dx',
  'public.code_status',
  'public.crrt_durations',
  'public.dobutamine_durations',
  'public.dopamine_durations',
  'public.echo_data',
  'public.elixhauser_ahrq_v37',
  'public.elixhauser_ahrq_v37_no_drg',
  'public.elixhauser_quan',
  'public.elixhauser_score_ahrq',
  'public.elixhauser_score_quan',
  'public.epinephrine_durations',
  'public.explicit',
  'public.gcs_first_day',
  'public.height_first_day',
  'public.icustay_detail',
  'public.isuprel_durations',
  'public.kdigo_creatinine',
  'public.kdigo_stages',
  'public.kdigo_stages_48hr',
  'public.kdigo_stages_7day',
  'public.kdigo_uo',
  'public.labs_first_day',
  'public.lods',
  'public.martin',
  'public.meld',
  'public.milrinone_durations',
  'public.norepinephrine_durations',
  'public.oasis',
  'public.phenylephrine_durations',
  'public.rrt_first_day',
  'public.saps',
  'public.sapsii',
  'public.sirs',
  'public.sofa',
  'public.urine_output',
  'public.urine_output_first_day',
  'public.vasopressin_durations',
  'public.vasopressor_durations',
  'public.ventilation_classification',
  'public.ventilation_durations',
  'public.ventilation_first_day',
  'public.vitals_first_day',
  'public.weight_durations',
  'public.weight_first_day'],
 'num_of_views': 0,
 'view_names': [],
 'tables_no_index': [],
 'num_of_pk': 26,
 'num_of_fk': 0,
 'num_of_uk': 9}

In [4]:
def _delete_view(new_view_list, conn_string):
    # reverse it just in case to drop dependencies first
    new_view_list = new_view_list[::-1]
    conn = psycopg2.connect(conn_string)
    cur = conn.cursor()
    for i in new_view_list:
        cur.execute("""DROP VIEW {} CASCADE""".format(i))
        print(i + " dropped")
    conn.commit()
    cur.close()
    conn.close()

In [20]:
i = "mimiciii_clinical.basic_patient_info"
conn = psycopg2.connect(conn_string)
cur = conn.cursor()
cur.execute("""DROP VIEW {} CASCADE""".format(i))
conn.commit()
cur.close()
conn.close()

In [102]:
schema = 'mimiciii_clinical'
f = 'basic_patient_info.sql'
name = f[:-4]
if schema + "." + name not in overview_dict['table_names'] and schema + "." + name not in overview_dict['view_names']:
    #preprocess SQL
    create_sql = _special_treatments(_remove_comments(org_sql))
    create_sql = str1.replace('`', '').strip()
    create_sql = re.sub(r"DATETIME_DIFF\((.+?),\s?(.+?),\s?(DAY|MINUTE|SECOND|HOUR|YEAR)\)", r"DATETIME_DIFF(\1, \2, '\3'::TEXT)", create_sql)
    #connect and create view
    conn = psycopg2.connect(conn_string)
    cur = conn.cursor()
    cur.execute("""SET search_path TO {};""".format(schema))
    cur.execute("""CREATE VIEW {}.{} AS {}""".format(schema, name, create_sql))
    #cur.fetchall()
    conn.commit()
    cur.close()
    conn.close()

basic_patient_info

In [8]:
def find_parens(s):
    toret = {}
    pstack = []
    for i, c in enumerate(s):
        if c == '(':
            pstack.append(i)
        elif c == ')':
            if len(pstack) == 0:
                raise IndexError("No matching closing parens at: " + str(i))
            toret[pstack.pop()] = i
            
    if len(pstack) > 0:
        raise IndexError("No matching opening parens at: " + str(pstack.pop()))
    return toret

def preprocess_str(str1):
    # remove the /* */ comments
    q = re.sub(r"/\*[^*]*\*+(?:[^*/][^*]*\*+)*/", "", str1)
    # remove whole line -- and # comments
    lines = [line for line in q.splitlines() if not re.match("^\s*(--|#)", line)]
    # remove trailing -- and # comments
    q = " ".join([re.split("--|#", line)[0] for line in lines])
    # replace all spaces around commas
    q = re.sub(r'\s*,\s*', ',', q)
#     # replace all multiple spaces to one space
    str1 = re.sub("\s\s+", " ", q)
    str1 = re.sub('union distinct', 'UNION', str1, flags=re.IGNORECASE)
    str1 = re.sub('distinct on', 'DISTINCT', str1, flags=re.IGNORECASE)
#    str1 = str1.lower()
    # bracket positions
    toret = find_parens(str1)
    # change the format of DATETIME_DIFF to TIMESTAMPDIFF
    datediff_index = [m.start() + 13 for m in re.finditer('DATETIME_DIFF', str1)]
    for i in datediff_index:
        if i in toret.keys():
            temp = str1[i + 1:toret[i]].split(',')
            str1 = str1[:i-13] + "TIMESTAMPDIFF(" + temp[2] + "," + temp[0] + "," + temp[1] + ")" + str1[toret[i] + 1:]
            toret = find_parens(str1)
    # change width_bucket to NTILE since it is not implemented yet
    widthbucket_index = [m.start() + 12 for m in re.finditer('width_bucket', str1)]
    for i in widthbucket_index:
        if i in toret.keys():
            temp = str1[i + 1:toret[i]].split(',')
            str1 = str1[:i-12] + "NTILE(" + temp[3] +")" + str1[toret[i] + 1:]
            toret = find_parens(str1)
    # change brackets around table names
    from_index = str1.find('FROM')
    flag = True
    if toret:
        while flag:
            for i in toret.keys():
                # to elminate single bracket after from a table
                if from_index != -1 and from_index + 5 in toret.keys():
                    i = from_index + 5
                    if str1[i+1:i+8].casefold() != 'select '.casefold():
                        str1 = str1[:i] + str1[i+1:toret[i]] + str1[toret[i]+1:]
                        from_index = str1.find('FROM'.casefold(), from_index+1)
                        toret = find_parens(str1)
                        flag = True
                        break
                if i+1 in toret.keys():
                    # to eliminate general double brackets
                    if toret[i+1] == toret[i] - 1:
                        str1 = str1[:i] + str1[i+1:toret[i]] + str1[toret[i]+1:]
                        toret = find_parens(str1)
                        flag = True
                        break
                    # to eliminate double brackets before select
                    elif str1[i+2:i+8].casefold() == 'select'.casefold():
                        str1 = str1[:i] + str1[i+1:toret[i]] + str1[toret[i]+1:]
                        toret = find_parens(str1)
                        flag = True
                        break
                flag = False
            if flag:
                continue
            else:
                break
    return str1

In [9]:
import os
# Open and read the file as a single buffer
script_dir = os.getcwd()
sqlfile = script_dir + "/mimic-code/mimic-iii/concepts/cookbook/icd9vagehistogram.sql"
sql = open(sqlfile, mode='r', encoding='utf-8-sig').read()
print(sql)

-- ------------------------------------------------------------------
-- Title: Count the number of patients with a specific icd9 code and shows the output as a histogram with groups of age
-- MIMIC version: MIMIC-III v1.3
-- Notes: this query does not specify a schema. To run it on your local
-- MIMIC schema, run the following command:
-- SET SEARCH_PATH TO mimiciii;
-- Where "mimiciii" is the name of your schema, and may be different.
-- Acknowledgements: Made with help from Kris Kindle
-- Reference: tompollard, alistairewj for code taken
-- from age_hist.sql on the MIMIC III github repository
-- ------------------------------------------------------------------

WITH diatbl AS
	(
	SELECT DISTINCT ON (dia.subject_id) dia.subject_id, ad.admittime
	from `physionet-data.mimiciii_clinical.diagnoses_icd` dia
	INNER JOIN admissions ad
	ON dia.subject_id = ad.subject_id
	WHERE dia.icd9_code
	-- 401% relates to hypertension
	LIKE '401%'
	),
agetbl AS
	(
	SELECT dt.subject_id, DATETIME_DIFF(dt.admittime, p.dob, YEAR) AS age
	FROM diatbl dt
	INNER JOIN patients p
	ON dt.subject_id = p.subject_id
	)
SELECT
        COUNT(*) AS TOTAL,
        COUNT(CASE WHEN age >= 0 AND age < 16 THEN  '0 - 15' END) AS "0-15",
        COUNT(CASE WHEN age >= 16 AND age < 21 THEN '16 - 20' END) AS "16-20",
        COUNT(CASE WHEN age >= 21 AND age < 26 THEN '21 - 25' END) AS "21-25",
        COUNT(CASE WHEN age >= 26 AND age < 31 THEN '26 - 30' END) AS "26-30",
        COUNT(CASE WHEN age >= 31 AND age < 36 THEN '31 - 35' END) AS "31-35",
        COUNT(CASE WHEN age >= 36 AND age < 41 THEN '36 - 40' END) AS "36-40",
        COUNT(CASE WHEN age >= 41 AND age < 46 THEN '41 - 45' END) AS "41-45",
        COUNT(CASE WHEN age >= 46 AND age < 51 THEN '46 - 50' END) AS "46-50",
        COUNT(CASE WHEN age >= 51 AND age < 56 THEN '51 - 55' END) AS "51-55",
        COUNT(CASE WHEN age >= 56 AND age < 61 THEN '56 - 60' END) AS "56-60",
        COUNT(CASE WHEN age >= 61 AND age < 66 THEN '61 - 65' END) AS "61-65",
        COUNT(CASE WHEN age >= 66 AND age < 71 THEN '66 - 70' END) AS "66-70",
        COUNT(CASE WHEN age >= 71 AND age < 76 THEN '71 - 75' END) AS "71-75",
        COUNT(CASE WHEN age >= 76 AND age < 81 THEN '76 - 80' END) AS "76-80",
        COUNT(CASE WHEN age >= 81 AND age < 86 THEN '81 - 85' END) AS "81-85",
        COUNT(CASE WHEN age >= 86 AND age < 91 THEN '86 - 90' END) AS "86-91",
        COUNT(CASE WHEN age >= 91 THEN 'Over 91' END) AS ">91"
FROM agetbl;

In [30]:
sql = preprocess_str(sql).replace('`', '').replace(';', '').replace('physionet-data.', '').strip()
temp = sql.split('JOIN')
t = []
if len(temp) >= 1:
    for i in temp[1:]:
        t.append(i.split(maxsplit=1)[0])
temp = sql.split('FROM')
if len(temp) >= 1:
    for i in temp[1:]:
        t.append(i.split(maxsplit=1)[0])
for i in t:
    if "mimiciii_clinical." + i in overview_dict['table_names']:
        sql = sql.replace(i, "mimiciii_clinical." + i)
print(sql)

WITH diatbl AS ( SELECT DISTINCT (dia.subject_id) dia.subject_id,ad.admittime from mimiciii_clinical.diagnoses_icd dia INNER JOIN mimiciii_clinical.admissions ad ON dia.subject_id = ad.subject_id WHERE dia.icd9_code LIKE '401%' ),agetbl AS ( SELECT dt.subject_id,TIMESTAMPDIFF(YEAR,dt.admittime,p.dob) AS age FROM diatbl dt INNER JOIN mimiciii_clinical.patients p ON dt.subject_id = p.subject_id ) SELECT COUNT(*) AS TOTAL,COUNT(CASE WHEN age >= 0 AND age < 16 THEN '0 - 15' END) AS "0-15",COUNT(CASE WHEN age >= 16 AND age < 21 THEN '16 - 20' END) AS "16-20",COUNT(CASE WHEN age >= 21 AND age < 26 THEN '21 - 25' END) AS "21-25",COUNT(CASE WHEN age >= 26 AND age < 31 THEN '26 - 30' END) AS "26-30",COUNT(CASE WHEN age >= 31 AND age < 36 THEN '31 - 35' END) AS "31-35",COUNT(CASE WHEN age >= 36 AND age < 41 THEN '36 - 40' END) AS "36-40",COUNT(CASE WHEN age >= 41 AND age < 46 THEN '41 - 45' END) AS "41-45",COUNT(CASE WHEN age >= 46 AND age < 51 THEN '46 - 50' END) AS "46-50",COUNT(CASE WHEN age >= 51 AND age < 56 THEN '51 - 55' END) AS "51-55",COUNT(CASE WHEN age >= 56 AND age < 61 THEN '56 - 60' END) AS "56-60",COUNT(CASE WHEN age >= 61 AND age < 66 THEN '61 - 65' END) AS "61-65",COUNT(CASE WHEN age >= 66 AND age < 71 THEN '66 - 70' END) AS "66-70",COUNT(CASE WHEN age >= 71 AND age < 76 THEN '71 - 75' END) AS "71-75",COUNT(CASE WHEN age >= 76 AND age < 81 THEN '76 - 80' END) AS "76-80",COUNT(CASE WHEN age >= 81 AND age < 86 THEN '81 - 85' END) AS "81-85",COUNT(CASE WHEN age >= 86 AND age < 91 THEN '86 - 90' END) AS "86-91",COUNT(CASE WHEN age >= 91 THEN 'Over 91' END) AS ">91" FROM agetbl

In [29]:
temp = sql.split('JOIN')
t = []
if len(temp) >= 1:
    for i in temp[1:]:
        t.append(i.split(maxsplit=1)[0])
temp = sql.split('FROM')
if len(temp) >= 1:
    for i in temp[1:]:
        t.append(i.split(maxsplit=1)[0])
t

['mimiciii_clinical.admissions', 'patients', 'diatbl', 'agetbl']

In [38]:
from py4j.java_gateway import JavaGateway
gateway = JavaGateway()
extracted_tables = gateway.get_table('jdbc:postgresql://52.89.148.112:5432/mimic', 'postgres', 'password', sql).split(',')

In [39]:
extracted_tables

['mimiciii_clinical.labevents',
 'mimiciii_clinical.admissions',
 'mimiciii_clinical.patients']

In [41]:
[table_dict.get(key) for key in extracted_tables]

[{'charttime': {'type': 'timestamp(0) without time zone',
   'attnotnull': False,
   'default': None,
   'description': 'Foreign key. Identifies the hospital stay.',
   'auto_increment': False,
   'num_null': 0.0,
   'perc_of_null': 0.0,
   'num_of_distinct': 186940.0,
   'perc_of_distinct': 0.67,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'flag': {'type': 'character varying(20)',
   'attnotnull': False,
   'default': None,
   'description': 'Unit of measurement.',
   'auto_increment': False,
   'num_null': 17990000.0,
   'perc_of_null': 0.645867,
   'num_of_distinct': 2.0,
   'perc_of_distinct': 0.0,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'hadm_id': {'type': 'integer',
   'attnotnull': False,
   'default': None,
   'description': 'Unique row identifier.',
   'auto_increment': False,
   'num_null': 5544810.0,
   'perc_of_null': 0.199067,
   'num_of_distinct': 21890.0,
   'perc_of_distinct': 0.08,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'itemid': {'type': 'integer',
   'attnotnull': True,
   'default': None,
   'description': 'Flag indicating whether the lab test value is considered abnormal (null if the test was normal).',
   'auto_increment': False,
   'num_null': 0.0,
   'perc_of_null': 0.0,
   'num_of_distinct': 320.0,
   'perc_of_distinct': 0.0,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'row_id': {'type': 'integer',
   'attnotnull': True,
   'default': None,
   'description': 'Unique row identifier.',
   'auto_increment': False,
   'num_null': 0.0,
   'perc_of_null': 0.0,
   'num_of_distinct': 27854100.0,
   'perc_of_distinct': 100.0,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'subject_id': {'type': 'integer',
   'attnotnull': True,
   'default': None,
   'description': 'Events relating to laboratory tests.',
   'auto_increment': False,
   'num_null': 0.0,
   'perc_of_null': 0.0,
   'num_of_distinct': 19063.0,
   'perc_of_distinct': 0.07,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'value': {'type': 'character varying(200)',
   'attnotnull': False,
   'default': None,
   'description': 'Foreign key. Identifies the hospital stay.',
   'auto_increment': False,
   'num_null': 1856.94,
   'perc_of_null': 6.66667e-05,
   'num_of_distinct': 2022.0,
   'perc_of_distinct': 0.01,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'valuenum': {'type': 'double precision',
   'attnotnull': False,
   'default': None,
   'description': 'Events relating to laboratory tests.',
   'auto_increment': False,
   'num_null': 2911680.0,
   'perc_of_null': 0.104533,
   'num_of_distinct': 1754.0,
   'perc_of_distinct': 0.01,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'valueuom': {'type': 'character varying(20)',
   'attnotnull': False,
   'default': None,
   'description': 'Unit of measurement.',
   'auto_increment': False,
   'num_null': 3062090.0,
   'perc_of_null': 0.109933,
   'num_of_distinct': 44.0,
   'perc_of_distinct': 0.0,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'mimiciii_clinical.labevents_num_of_parents': 0,
  'mimiciii_clinical.labevents_num_of_children': 0,
  'mimiciii_clinical.labevents_num_of_row': 27854397,
  'mimiciii_clinical.labevents_num_of_cols': 9,
  'constraints': {}},
 {'admission_location': {'type': 'character varying(50)',
   'attnotnull': True,
   'default': None,
   'description': 'Type of admission, for example emergency or elective.',
   'auto_increment': False,
   'num_null': 0.0,
   'perc_of_null': 0.0,
   'num_of_distinct': 9.0,
   'perc_of_distinct': 0.02,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'admission_type': {'type': 'character varying(50)',
   'attnotnull': True,
   'default': None,
   'description': 'Time of admission to the hospital.',
   'auto_increment': False,
   'num_null': 0.0,
   'perc_of_null': 0.0,
   'num_of_distinct': 4.0,
   'perc_of_distinct': 0.01,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'admittime': {'type': 'timestamp(0) without time zone',
   'attnotnull': True,
   'default': None,
   'description': 'Time of death.',
   'auto_increment': False,
   'num_null': 0.0,
   'perc_of_null': 0.0,
   'num_of_distinct': 58586.0,
   'perc_of_distinct': 99.34,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'deathtime': {'type': 'timestamp(0) without time zone',
   'attnotnull': False,
   'default': None,
   'description': 'Marital status.',
   'auto_increment': False,
   'num_null': 53159.0,
   'perc_of_null': 0.901367,
   'num_of_distinct': 5794.0,
   'perc_of_distinct': 9.82,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'diagnosis': {'type': 'character varying(255)',
   'attnotnull': False,
   'default': None,
   'description': 'Diagnosis.',
   'auto_increment': False,
   'num_null': 17.6928,
   'perc_of_null': 0.0003,
   'num_of_distinct': 10000.0,
   'perc_of_distinct': 16.96,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'discharge_location': {'type': 'character varying(50)',
   'attnotnull': True,
   'default': None,
   'description': 'Time of discharge from the hospital.',
   'auto_increment': False,
   'num_null': 0.0,
   'perc_of_null': 0.0,
   'num_of_distinct': 16.0,
   'perc_of_distinct': 0.03,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'dischtime': {'type': 'timestamp(0) without time zone',
   'attnotnull': True,
   'default': None,
   'description': 'Marital status.',
   'auto_increment': False,
   'num_null': 0.0,
   'perc_of_null': 0.0,
   'num_of_distinct': 58493.0,
   'perc_of_distinct': 99.18,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'edouttime': {'type': 'timestamp(0) without time zone',
   'attnotnull': False,
   'default': None,
   'description': 'Diagnosis.',
   'auto_increment': False,
   'num_null': 28263.3,
   'perc_of_null': 0.479233,
   'num_of_distinct': 30684.0,
   'perc_of_distinct': 52.03,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'edregtime': {'type': 'timestamp(0) without time zone',
   'attnotnull': False,
   'default': None,
   'description': 'Time of death.',
   'auto_increment': False,
   'num_null': 28263.3,
   'perc_of_null': 0.479233,
   'num_of_distinct': 30712.7,
   'perc_of_distinct': 52.08,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'ethnicity': {'type': 'character varying(200)',
   'attnotnull': True,
   'default': None,
   'description': 'Primary key. Identifies the hospital stay.',
   'auto_increment': False,
   'num_null': 0.0,
   'perc_of_null': 0.0,
   'num_of_distinct': 40.0,
   'perc_of_distinct': 0.07,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'hadm_id': {'type': 'integer',
   'attnotnull': True,
   'default': None,
   'description': 'Hospital admission has at least one observation in the CHARTEVENTS table.',
   'auto_increment': False,
   'num_null': 0.0,
   'perc_of_null': 0.0,
   'num_of_distinct': 58976.0,
   'perc_of_distinct': 100.0,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'has_chartevents_data': {'type': 'smallint',
   'attnotnull': True,
   'default': None,
   'description': 'Unique row identifier.',
   'auto_increment': False,
   'num_null': 0.0,
   'perc_of_null': 0.0,
   'num_of_distinct': 2.0,
   'perc_of_distinct': 0.0,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'hospital_expire_flag': {'type': 'smallint',
   'attnotnull': False,
   'default': None,
   'description': 'Time of death.',
   'auto_increment': False,
   'num_null': 0.0,
   'perc_of_null': 0.0,
   'num_of_distinct': 2.0,
   'perc_of_distinct': 0.0,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'insurance': {'type': 'character varying(255)',
   'attnotnull': True,
   'default': None,
   'description': 'Language.',
   'auto_increment': False,
   'num_null': 0.0,
   'perc_of_null': 0.0,
   'num_of_distinct': 5.0,
   'perc_of_distinct': 0.01,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'language': {'type': 'character varying(10)',
   'attnotnull': False,
   'default': None,
   'description': 'Time of discharge from the hospital.',
   'auto_increment': False,
   'num_null': 25304.6,
   'perc_of_null': 0.429067,
   'num_of_distinct': 64.0,
   'perc_of_distinct': 0.11,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'marital_status': {'type': 'character varying(50)',
   'attnotnull': False,
   'default': None,
   'description': 'Time of discharge from the hospital.',
   'auto_increment': False,
   'num_null': 10289.3,
   'perc_of_null': 0.174467,
   'num_of_distinct': 7.0,
   'perc_of_distinct': 0.01,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'religion': {'type': 'character varying(50)',
   'attnotnull': False,
   'default': None,
   'description': 'Foreign key. Identifies the patient.',
   'auto_increment': False,
   'num_null': 444.286,
   'perc_of_null': 0.00753333,
   'num_of_distinct': 19.0,
   'perc_of_distinct': 0.03,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'row_id': {'type': 'integer',
   'attnotnull': True,
   'default': None,
   'description': 'Hospital admission has at least one observation in the CHARTEVENTS table.',
   'auto_increment': False,
   'num_null': 0.0,
   'perc_of_null': 0.0,
   'num_of_distinct': 58976.0,
   'perc_of_distinct': 100.0,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'subject_id': {'type': 'integer',
   'attnotnull': True,
   'default': None,
   'description': 'Hospital admission has at least one observation in the CHARTEVENTS table.',
   'auto_increment': False,
   'num_null': 0.0,
   'perc_of_null': 0.0,
   'num_of_distinct': 41893.0,
   'perc_of_distinct': 71.03,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'mimiciii_clinical.admissions_num_of_parents': 0,
  'mimiciii_clinical.admissions_num_of_children': 0,
  'mimiciii_clinical.admissions_num_of_row': 58976,
  'mimiciii_clinical.admissions_num_of_cols': 19,
  'constraints': {}},
 {'dob': {'type': 'timestamp(0) without time zone',
   'attnotnull': True,
   'default': None,
   'description': 'Flag indicating that the patient has died.',
   'auto_increment': False,
   'num_null': 0.0,
   'perc_of_null': 0.0,
   'num_of_distinct': 30041.0,
   'perc_of_distinct': 64.58,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'dod': {'type': 'timestamp(0) without time zone',
   'attnotnull': False,
   'default': None,
   'description': 'Date of death recorded in the social security records.',
   'auto_increment': False,
   'num_null': 30759.0,
   'perc_of_null': 0.6612,
   'num_of_distinct': 12248.0,
   'perc_of_distinct': 26.33,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'dod_hosp': {'type': 'timestamp(0) without time zone',
   'attnotnull': False,
   'default': None,
   'description': 'Patients associated with an admission to the ICU.',
   'auto_increment': False,
   'num_null': 36600.4,
   'perc_of_null': 0.786767,
   'num_of_distinct': 8399.0,
   'perc_of_distinct': 18.05,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'dod_ssn': {'type': 'timestamp(0) without time zone',
   'attnotnull': False,
   'default': None,
   'description': 'Primary key. Identifies the patient.',
   'auto_increment': False,
   'num_null': 33078.8,
   'perc_of_null': 0.711067,
   'num_of_distinct': 10877.0,
   'perc_of_distinct': 23.38,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'expire_flag': {'type': 'integer',
   'attnotnull': True,
   'default': None,
   'description': 'Flag indicating that the patient has died.',
   'auto_increment': False,
   'num_null': 0.0,
   'perc_of_null': 0.0,
   'num_of_distinct': 2.0,
   'perc_of_distinct': 0.0,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'gender': {'type': 'character varying(5)',
   'attnotnull': True,
   'default': None,
   'description': 'Date of birth.',
   'auto_increment': False,
   'num_null': 0.0,
   'perc_of_null': 0.0,
   'num_of_distinct': 2.0,
   'perc_of_distinct': 0.0,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'row_id': {'type': 'integer',
   'attnotnull': True,
   'default': None,
   'description': 'Date of death recorded in the social security records.',
   'auto_increment': False,
   'num_null': 0.0,
   'perc_of_null': 0.0,
   'num_of_distinct': 46520.0,
   'perc_of_distinct': 100.0,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'subject_id': {'type': 'integer',
   'attnotnull': True,
   'default': None,
   'description': 'Date of birth.',
   'auto_increment': False,
   'num_null': 0.0,
   'perc_of_null': 0.0,
   'num_of_distinct': 46520.0,
   'perc_of_distinct': 100.0,
   'relkind': 'r',
   'children': [],
   'parents': []},
  'mimiciii_clinical.patients_num_of_parents': 0,
  'mimiciii_clinical.patients_num_of_children': 0,
  'mimiciii_clinical.patients_num_of_row': 46520,
  'mimiciii_clinical.patients_num_of_cols': 8,
  'constraints': {}}]

In [ ]:
table_dict

In [ ]:
overview_dict['table_names']

In [ ]:
SQL = """
with cpap as
(
  select ie.icustay_id
  , max(CASE
        WHEN lower(ce.value) LIKE '%cpap%' THEN 1
        WHEN lower(ce.value) LIKE '%bipap mask%' THEN 1
      else 0 end) as cpap
  FROM `physionet-data.mimiciii_clinical.icustays` ie
  inner join `physionet-data.mimiciii_clinical.chartevents` ce
    on ie.icustay_id = ce.icustay_id
    and ce.charttime between ie.intime and DATETIME_ADD(ie.intime, INTERVAL '1' DAY)
  where itemid in
  (
    -- TODO: when metavision data import fixed, check the values in 226732 match the value clause below
    467, 469, 226732
  )
  and (lower(ce.value) LIKE '%cpap%' or lower(ce.value) LIKE '%bipap mask%')
  -- exclude rows marked as error
  AND (ce.error IS NULL OR ce.error = 0)
  group by ie.icustay_id
)
, cohort as
(
select ie.subject_id, ie.hadm_id, ie.icustay_id
      , ie.intime
      , ie.outtime

      -- the casts ensure the result is numeric.. we could equally extract EPOCH from the interval
      -- however this code works in Oracle and Postgres
      , DATETIME_DIFF(ie.intime, pat.dob, YEAR) as age
      , gcs.mingcs
      , vital.heartrate_max
      , vital.heartrate_min
      , vital.sysbp_max
      , vital.sysbp_min
      , vital.resprate_max
      , vital.resprate_min
      , vital.tempc_max
      , vital.tempc_min

      , coalesce(vital.glucose_max, labs.glucose_max) as glucose_max
      , coalesce(vital.glucose_min, labs.glucose_min) as glucose_min

      , labs.bun_max
      , labs.bun_min
      , labs.hematocrit_max
      , labs.hematocrit_min
      , labs.wbc_max
      , labs.wbc_min
      , labs.sodium_max
      , labs.sodium_min
      , labs.potassium_max
      , labs.potassium_min
      , labs.bicarbonate_max
      , labs.bicarbonate_min

      , vent.vent as mechvent
      , uo.urineoutput

      , cp.cpap

FROM `physionet-data.mimiciii_clinical.icustays` ie
inner join `physionet-data.mimiciii_clinical.admissions` adm
  on ie.hadm_id = adm.hadm_id
inner join `physionet-data.mimiciii_clinical.patients` pat
  on ie.subject_id = pat.subject_id

-- join to above view to get CPAP
left join cpap cp
  on ie.icustay_id = cp.icustay_id

-- join to custom tables to get more data....
left join `physionet-data.mimiciii_derived.gcs_first_day` gcs
  on ie.icustay_id = gcs.icustay_id
left join `physionet-data.mimiciii_derived.vitals_first_day` vital
  on ie.icustay_id = vital.icustay_id
left join `physionet-data.mimiciii_derived.urine_output_first_day` uo
  on ie.icustay_id = uo.icustay_id
left join `physionet-data.mimiciii_derived.ventilation_first_day` vent
  on ie.icustay_id = vent.icustay_id
left join `physionet-data.mimiciii_derived.labs_first_day` labs
  on ie.icustay_id = labs.icustay_id
)
, scorecomp as
(
select
  cohort.*
  -- Below code calculates the component scores needed for SAPS
  , case
      when age is null then null
      when age <= 45 then 0
      when age <= 55 then 1
      when age <= 65 then 2
      when age <= 75 then 3
      when age >  75 then 4
    end as age_score
  , case
      when heartrate_max is null then null
      when heartrate_max >= 180 then 4
      when heartrate_min < 40 then 4
      when heartrate_max >= 140 then 3
      when heartrate_min <= 54 then 3
      when heartrate_max >= 110 then 2
      when heartrate_min <= 69 then 2
      when heartrate_max >= 70 and heartrate_max <= 109
        and heartrate_min >= 70 and heartrate_min <= 109
      then 0
    end as hr_score
  , case
      when sysbp_min is null then null
      when sysbp_max >= 190 then 4
      when sysbp_min < 55 then 4
      when sysbp_max >= 150 then 2
      when sysbp_min <= 79 then 2
      when sysbp_max >= 80 and sysbp_max <= 149
        and sysbp_min >= 80 and sysbp_min <= 149
        then 0
    end as sysbp_score

  , case
      when tempc_max is null then null
      when tempc_max >= 41.0 then 4
      when tempc_min <  30.0 then 4
      when tempc_max >= 39.0 then 3
      when tempc_min <= 31.9  then 3
      when tempc_min <= 33.9  then 2
      when tempc_max >  38.4 then 1
      when tempc_min <  36.0  then 1
      when tempc_max >= 36.0 and tempc_max <= 38.4
       and tempc_min >= 36.0 and tempc_min <= 38.4
        then 0
    end as temp_score

  , case
      when resprate_min is null then null
      when resprate_max >= 50 then 4
      when resprate_min <  6 then 4
      when resprate_max >= 35 then 3
      when resprate_min <= 9 then 2
      when resprate_max >= 25 then 1
      when resprate_min <= 11 then 1
      when  resprate_max >= 12 and resprate_max <= 24
        and resprate_min >= 12 and resprate_min <= 24
          then 0
      end as resp_score

  , case
      when coalesce(mechvent,cpap) is null then null
      when cpap = 1 then 3
      when mechvent = 1 then 3
      else 0
    end as vent_score

  , case
      when UrineOutput is null then null
      when UrineOutput >  5000.0 then 2
      when UrineOutput >= 3500.0 then 1
      when UrineOutput >=  700.0 then 0
      when UrineOutput >=  500.0 then 2
      when UrineOutput >=  200.0 then 3
      when UrineOutput <   200.0 then 4
    end as uo_score

  , case
      when bun_max is null then null
      when bun_max >= 55.0 then 4
      when bun_max >= 36.0 then 3
      when bun_max >= 29.0 then 2
      when bun_max >= 7.50 then 1
      when bun_min < 3.5 then 1
      when  bun_max >= 3.5 and bun_max < 7.5
        and bun_min >= 3.5 and bun_min < 7.5
          then 0
    end as bun_score

  , case
      when hematocrit_max is null then null
      when hematocrit_max >= 60.0 then 4
      when hematocrit_min <  20.0 then 4
      when hematocrit_max >= 50.0 then 2
      when hematocrit_min < 30.0 then 2
      when hematocrit_max >= 46.0 then 1
      when  hematocrit_max >= 30.0 and hematocrit_max < 46.0
        and hematocrit_min >= 30.0 and hematocrit_min < 46.0
          then 0
      end as hematocrit_score

  , case
      when wbc_max is null then null
      when wbc_max >= 40.0 then 4
      when wbc_min <   1.0 then 4
      when wbc_max >= 20.0 then 2
      when wbc_min <   3.0 then 2
      when wbc_max >= 15.0 then 1
      when wbc_max >=  3.0 and wbc_max < 15.0
       and wbc_min >=  3.0 and wbc_min < 15.0
        then 0
    end as wbc_score

  , case
      when glucose_max is null then null
      when glucose_max >= 44.5 then 4
      when glucose_min <   1.6 then 4
      when glucose_max >= 27.8 then 3
      when glucose_min <   2.8 then 3
      when glucose_min <   3.9 then 2
      when glucose_max >= 14.0 then 1
      when glucose_max >=  3.9 and glucose_max < 14.0
       and glucose_min >=  3.9 and glucose_min < 14.0
        then 0
      end as glucose_score

  , case
      when potassium_max is null then null
      when potassium_max >= 7.0 then 4
      when potassium_min <  2.5 then 4
      when potassium_max >= 6.0 then 3
      when potassium_min <  3.0 then 2
      when potassium_max >= 5.5 then 1
      when potassium_min <  3.5 then 1
      when potassium_max >= 3.5 and potassium_max < 5.5
       and potassium_min >= 3.5 and potassium_min < 5.5
        then 0
      end as potassium_score

  , case
      when sodium_max is null then null
      when sodium_max >= 180 then 4
      when sodium_min  < 110 then 4
      when sodium_max >= 161 then 3
      when sodium_min  < 120 then 3
      when sodium_max >= 156 then 2
      when sodium_min  < 130 then 2
      when sodium_max >= 151 then 1
      when sodium_max >= 130 and sodium_max < 151
       and sodium_min >= 130 and sodium_min < 151
        then 0
      end as sodium_score

  , case
      when bicarbonate_max is null then null
      when bicarbonate_min <   5.0 then 4
      when bicarbonate_max >= 40.0 then 3
      when bicarbonate_min <  10.0 then 3
      when bicarbonate_max >= 30.0 then 1
      when bicarbonate_min <  20.0 then 1
      when bicarbonate_max >= 20.0 and bicarbonate_max < 30.0
       and bicarbonate_min >= 20.0 and bicarbonate_min < 30.0
          then 0
      end as bicarbonate_score

   , case
      when mingcs is null then null
        when mingcs <  3 then null -- erroneous value/on trach
        when mingcs =  3 then 4
        when mingcs <  7 then 3
        when mingcs < 10 then 2
        when mingcs < 13 then 1
        when mingcs >= 13
         and mingcs <= 15
          then 0
        end as gcs_score
from cohort
)
select ie.subject_id, ie.hadm_id, ie.icustay_id
-- coalesce statements impute normal score of zero if data element is missing
, coalesce(age_score,0)
+ coalesce(hr_score,0)
+ coalesce(sysbp_score,0)
+ coalesce(resp_score,0)
+ coalesce(temp_score,0)
+ coalesce(uo_score,0)
+ coalesce(vent_score,0)
+ coalesce(bun_score,0)
+ coalesce(hematocrit_score,0)
+ coalesce(wbc_score,0)
+ coalesce(glucose_score,0)
+ coalesce(potassium_score,0)
+ coalesce(sodium_score,0)
+ coalesce(bicarbonate_score,0)
+ coalesce(gcs_score,0)
  as SAPS
, age_score
, hr_score
, sysbp_score
, resp_score
, temp_score
, uo_score
, vent_score
, bun_score
, hematocrit_score
, wbc_score
, glucose_score
, potassium_score
, sodium_score
, bicarbonate_score
, gcs_score

FROM `physionet-data.mimiciii_clinical.icustays` ie
left join scorecomp s
  on ie.icustay_id = s.icustay_id
order by ie.icustay_id;
"""
parsed = sqlparse.parse(SQL)[0]
parsed.tokens

In [ ]:
SQL = '''WITH diatbl AS
	(
	SELECT DISTINCT (dia.subject_id) dia.subject_id, ad.admittime
	from `physionet-data.mimiciii_clinical.diagnoses_icd` dia
	INNER JOIN admissions ad
	ON dia.subject_id = ad.subject_id
	WHERE dia.icd9_code
	-- 401% relates to hypertension
	LIKE '401%'
	),
agetbl AS
	(
	SELECT dt.subject_id, DATETIME_DIFF(dt.admittime, p.dob, YEAR) AS age
	FROM diatbl dt
	INNER JOIN patients p
	ON dt.subject_id = p.subject_id
	)
SELECT
        COUNT(*) AS TOTAL,
        COUNT(CASE WHEN age >= 0 AND age < 16 THEN  '0 - 15' END) AS "0-15",
        COUNT(CASE WHEN age >= 16 AND age < 21 THEN '16 - 20' END) AS "16-20",
        COUNT(CASE WHEN age >= 21 AND age < 26 THEN '21 - 25' END) AS "21-25",
        COUNT(CASE WHEN age >= 26 AND age < 31 THEN '26 - 30' END) AS "26-30",
        COUNT(CASE WHEN age >= 31 AND age < 36 THEN '31 - 35' END) AS "31-35",
        COUNT(CASE WHEN age >= 36 AND age < 41 THEN '36 - 40' END) AS "36-40",
        COUNT(CASE WHEN age >= 41 AND age < 46 THEN '41 - 45' END) AS "41-45",
        COUNT(CASE WHEN age >= 46 AND age < 51 THEN '46 - 50' END) AS "46-50",
        COUNT(CASE WHEN age >= 51 AND age < 56 THEN '51 - 55' END) AS "51-55",
        COUNT(CASE WHEN age >= 56 AND age < 61 THEN '56 - 60' END) AS "56-60",
        COUNT(CASE WHEN age >= 61 AND age < 66 THEN '61 - 65' END) AS "61-65",
        COUNT(CASE WHEN age >= 66 AND age < 71 THEN '66 - 70' END) AS "66-70",
        COUNT(CASE WHEN age >= 71 AND age < 76 THEN '71 - 75' END) AS "71-75",
        COUNT(CASE WHEN age >= 76 AND age < 81 THEN '76 - 80' END) AS "76-80",
        COUNT(CASE WHEN age >= 81 AND age < 86 THEN '81 - 85' END) AS "81-85",
        COUNT(CASE WHEN age >= 86 AND age < 91 THEN '86 - 90' END) AS "86-91",
        COUNT(CASE WHEN age >= 91 THEN 'Over 91' END) AS ">91"
FROM agetbl;'''

In [ ]:
# use sql-metadata
SQL = preprocess_str(SQL)
par = Parser(SQL)
table_alias = par.tables_aliases
tables = par.tables
with_tables = par.with_names

# get aliases for temporary tables
# with_table_alias = []
# for i in with_tables:
#     temp_indices = [m.start() for m in re.finditer(i, SQL)]
#     for idx in temp_indices:
#         # edge case
#         if idx > 5:
#             # checking if it is from or join before the table name
#             if SQL[idx - 5: idx - 1].lower() in ['join', 'from']:
#                 # checking for AS
#                 if SQL[idx + len(i) + 1:idx + len(i) + 3].lower() == 'as':
#                     new_idx = idx + len(i) + 4
#                 else: 
#                     new_idx = idx + len(i) + 1
#                 end_idx = SQL.find(' ', new_idx)
#                 # checking to see if it is the end
#                 if end_idx != -1:
#                     temp_alias = SQL[new_idx:SQL.find(' ',new_idx)]
#                     if temp_alias not in string.punctuation:
#                         with_table_alias.append(temp_alias)
# with_table_alias = set(with_table_alias)
with_table_dict = {}
tokens = re.split(r"[\s)(,;]+", SQL)
for w in with_tables:
    table_indices = [i for i, x in enumerate(tokens) if x == w]
    for ti in table_indices:
        if tokens[ti - 1].lower() in ['from', 'join', 'union']:
            if tokens[ti + 1].lower() == 'as':
                with_table_dict[w] = tokens[ti + 2]
            if tokens[ti + 1].lower() not in ['join', 'union', 'where', 'order', 'group', 'having', 'on', 'inner', 'left', 'right', 'outer', 'select', 'full']:
                with_table_dict[w] = tokens[ti + 1]
with_table_alias = set([*with_table_dict.values()])

# resolve .*
dot_star = [m.start() for m in re.finditer('\.\*', SQL)]
potential_col = []
offset = 0
for i in dot_star:
    i -= offset
    before_idx = max(SQL.rfind(' ', 0, i), SQL.rfind(',', 0, i))
    diff = SQL[before_idx+1:i]
    #print(diff)
    SQL = SQL[:before_idx+1] + SQL[i+1:]
    offset = offset + len(diff) + 1
    if diff in with_table_dict.keys() or diff in with_table_alias:
        continue
    elif diff in table_alias.keys():
        potential_col.append(table_alias[diff] + '.*')
        continue
    elif diff in tables:
        potential_col.append(diff + '.*')
        continue
        
par = Parser(SQL)
cols = par.columns
col_alias = par.columns_aliases 
# subsitute table aliases or pop temporary table/aliases
newcols = cols[:]
for i in cols:
    idx = i.find('.')
    if idx != -1:
        prefix = i[:idx]
        # resolve table prefix aliases
        if prefix in table_alias.keys():
            newcols[newcols.index(i)] = table_alias[prefix] + i[idx:]
        # resolve if the column itself is already in the list
        if i[idx + 1:] in newcols:
            newcols.pop(newcols.index(i[idx + 1:]))
        # resolve if it is a temporary table column
        if (prefix in with_tables or prefix in with_table_alias) and i in newcols:
            newcols.pop(newcols.index(i))
    else:
        # resolve for the single column name 
        for t in tables:
            t_name = t[t.rfind(".")+1:]
            if t_name in table_dict.keys():
                if i in table_dict[t_name].keys():
                    newcols.append(t + '.' + i)
        if i in newcols:
            newcols.pop(newcols.index(i))
newcols = list(set(newcols))

# remove duplicate columns from temporary tables and materialized tables
for i in col_alias.keys():
    if i in newcols:
        col_rel = col_alias[i]
        if isinstance(col_alias[i], str):
            col_rel = [col_rel]
        in_newcol = True
        in_alias = True
        # if the current column depends on other alias column in the list, skip and pop it
        for j in col_rel:
            if j not in col_alias.keys() and j not in with_tables:
                in_alias = False
                break
                
        for j in col_rel:
            table_flag = False
            # combination with every table name to check if it is in the column list
            for t in tables:
                col_name = t + '.' + j
                # if a combination hits, break and continue to the next column
                if col_name in newcols:
                    table_flag = True
                    break
            if table_flag:
                continue
            # if no table, column combination hits, break since this is not in a duplicate
            else:
                in_newcol = False
                break
        if  in_newcol or in_alias:
            newcols.pop(newcols.index(i))
sorted(newcols)

In [ ]:
cols

In [ ]:
overview_dict

In [ ]:
q_l.append(SQL)
l_l.append(link)

In [ ]:
p_t_l.append(tables)
p_c_l.append(newcols)

In [ ]:
gt_tables = tables
gt_cols = newcols.copy()
#gt_cols.pop(gt_cols.index('physionet-data.mimiciii_clinical.inputevents_cv.amount'))

In [ ]:
gt_t_l.append(gt_tables)
gt_c_l.append(gt_cols)

In [ ]:
len(set(newcols) & set(gt_cols)) / len(newcols) * 100

In [ ]:
precision_l.append(len(set(newcols) & set(gt_cols)) / len(newcols) * 100)
recall_l.append(len(set(newcols) & set(gt_cols)) / len(gt_cols) * 100)

In [ ]:
pd.DataFrame({'Query': q_l, 'Link': l_l, 'GT_table': gt_t_l, 'GT_col': gt_c_l, 'Predict_table': p_t_l, 'Predict_col': p_c_l, 'Precision': precision_l, 'Recall': recall_l})

In [ ]:
q_l = []
l_l = []
gt_t_l = []
gt_c_l = []
p_t_l = []
p_c_l = []
precision_l = []
recall_l = []

In [ ]:
link = 'https://github.com/MIT-LCP/mimic-code/blob/main/mimic-iii/concepts/pivot/pivoted_height.sql'
SQL = '''WITH ht_in AS
(
  SELECT 
    c.subject_id, c.icustay_id, c.charttime,
    -- Ensure that all heights are in centimeters
    ROUND(CASE
      WHEN c.itemid IN (920, 1394, 4187, 3486, 226707)
        THEN ROUND(c.valuenum * 2.54, 2)
      ELSE c.valuenum
    END, 2) AS height
    , c.valuenum as height_orig
  FROM `physionet-data.mimiciii_clinical.chartevents` c
  WHERE c.valuenum IS NOT NULL
  AND c.valuenum != 0
  -- exclude rows marked as error
  AND COALESCE(c.error, 0) = 0
  -- Height (measured in inches)
  AND c.itemid IN
  (
    -- CareVue
    920, 1394, 4187, 3486
    -- Metavision
    , 226707
  )
)
, ht_cm AS
(
  SELECT 
    c.subject_id, c.icustay_id, c.charttime,
    -- Ensure that all heights are in centimeters
    ROUND(CASE
      WHEN c.itemid IN (920, 1394, 4187, 3486, 226707)
        THEN c.valuenum * 2.54
      ELSE c.valuenum
    END, 2) AS height
  FROM `physionet-data.mimiciii_clinical.chartevents` c
  WHERE c.valuenum IS NOT NULL
  AND c.valuenum != 0
  -- exclude rows marked as error
  AND COALESCE(c.error, 0) = 0
  -- Height cm
  AND c.itemid IN
  (
    -- CareVue
    3485, 4188
    -- MetaVision
    , 226730
  )
)
-- merge cm/height, only take 1 value per charted row
, ht_stg0 AS
(
  SELECT
  COALESCE(h1.subject_id, h1.subject_id) as subject_id
  , COALESCE(h1.charttime, h1.charttime) AS charttime
  , COALESCE(h1.height, h2.height) as height
  FROM ht_cm h1
  FULL OUTER JOIN ht_in h2
    ON h1.subject_id = h2.subject_id
    AND h1.charttime = h2.charttime
)
-- filter out bad heights
, ht_stg1 AS
(
  SELECT
    h.subject_id
    , charttime
    , CASE
        -- rule for neonates
        WHEN DATETIME_DIFF(charttime, pt.dob, YEAR) <= 1 AND height < 80 THEN height
        -- rule for adults
        WHEN DATETIME_DIFF(charttime, pt.dob, YEAR) > 1 AND height > 120 AND height < 230 THEN height
      ELSE NULL END as height
  FROM ht_stg0 h
  INNER JOIN `physionet-data.mimiciii_clinical.patients` pt
    ON h.subject_id = pt.subject_id
)
-- heights from echo-cardiography notes
, echo_note AS
(
  SELECT
    subject_id
    -- extract the time of the note from the text itself
    -- add this to the structured date in the chartdate column
    , PARSE_DATETIME('%b-%d-%Y%H:%M',
      CONCAT(
        FORMAT_DATE("%b-%d-%Y", chartdate),
        REGEXP_EXTRACT(ne.text, 'Date/Time: [\\[\\]0-9*-]+ at ([0-9:]+)')
       )
    ) AS charttime
    -- sometimes numeric values contain de-id numbers, e.g. [** Numeric Identifier **]
    -- this case is used to ignore that text
    , case
        when REGEXP_EXTRACT(ne.text, 'Height: \\(in\\) (.*?)\n') like '%*%'
            then null
        else cast(REGEXP_EXTRACT(ne.text, 'Height: \\(in\\) (.*?)\n') as numeric)
        end * 2.54 as height
  FROM `physionet-data.mimiciii_notes.noteevents` ne
  WHERE ne.category = 'Echo'
)
-- use documented ideal body weights to back-calculate height
, ibw_note AS
(
    SELECT subject_id
    , ne.category
    , charttime
    , CAST(REGEXP_EXTRACT(text, 'Ideal body weight: ([0-9]+\\.?[0-9]*)') AS NUMERIC) as ibw
    FROM `physionet-data.mimiciii_notes.noteevents` ne
    WHERE text like '%Ideal body weight:%'
    AND ne.category != 'Echo'
)
, ht_from_ibw AS
(
    -- IBW formulas
    -- inches
    -- F:  IBW = 45.5 kg + 2.3 kg * (height in inches - 60)
    -- M:  IBW = 50 kg + 2.3 kg * (height in inches - 60)
    
    -- cm
    -- F: 45.5 + (0.91 × [height in centimeters − 152.4])
    -- M: 50 + (0.91 × [height in centimeters − 152.4])
    
    SELECT ne.subject_id
    , charttime
    , CASE
        WHEN gender = 'F' THEN (ibw - 45.5)/0.91 + 152.4
        ELSE (ibw - 50)/0.91 + 152.4 END AS height
    FROM ibw_note ne
    INNER JOIN `physionet-data.mimiciii_clinical.patients` pt
      ON ne.subject_id = pt.subject_id
    WHERE ibw IS NOT NULL AND ibw != 0
)
, ht_nutrition AS
(
    -- nutrition notes usually only document height
    -- but the original note formatting has been lost, so we can't do a clever regex
    -- instead, we just look for the unit of measure (cm)
    SELECT subject_id
    , charttime
    , CAST(REGEXP_EXTRACT(ne.text, '([0-9]+) cm') AS NUMERIC) as height
    FROM `physionet-data.mimiciii_notes.noteevents` ne
    WHERE category = 'Nutrition'
    AND lower(text) like '%height%'
)
SELECT subject_id, charttime, 'chartevents' as source, height
FROM ht_stg1
WHERE height IS NOT NULL AND height > 0
UNION ALL
SELECT subject_id, charttime, 'noteevents - echo' as source, height
FROM echo_note
WHERE height IS NOT NULL AND height > 0
UNION ALL
SELECT subject_id, charttime, 'noteevents - ibw' as source, height
FROM ht_from_ibw
WHERE height IS NOT NULL AND height > 0
UNION ALL
SELECT subject_id, charttime, 'noteevents - nutrition' as source
-- convert the heights
    , CASE 
        WHEN height < 80 THEN height*2.54
        ELSE height
    END AS height
FROM ht_nutrition
WHERE height IS NOT NULL AND height > 0
ORDER BY subject_id, charttime, source, height;'''

In [ ]:
import re
def tables_in_query(sql_str):
    # remove the /* */ comments
    q = re.sub(r"/\*[^*]*\*+(?:[^*/][^*]*\*+)*/", "", sql_str)
    # remove whole line -- and # comments
    lines = [line for line in q.splitlines() if not re.match("^\s*(--|#)", line)]
    # remove trailing -- and # comments
    q = " ".join([re.split("--|#", line)[0] for line in lines])
    # replace all spaces around commas
    q = re.sub(r'\s*,\s*', ',', q)
    # replace all multiple spaces to one space
    q = re.sub("\s\s+", " ", q)
    # split on blanks, parens and semicolons
    tokens = re.split(r"[\s)(,;]+", q)
    # scan the tokens. if we see a FROM or JOIN, we set the get_next
    # flag, and grab the next one (unless it's SELECT).
    idx = 0
    result = set()
    get_next = False
    table_flag = False
    for tok in tokens:
        if tok.lower() in ['where', 'order', 'group', 'having', 'on', 'inner', 'left', 'right', 'outer', 'select']:
            table_flag = False
        if get_next:
            if tok.lower() not in ["", "select"]:
                result.add(tok)
            get_next = False
        # From, join tables
        if tok.lower() in ["from", "join"]:
            get_next = True
            table_flag = True
        # Cartesian join tables
        idx = q.index(tok, idx)
        if idx+len(tok) < len(q):
            if (q[idx+len(tok)] == ',' and table_flag is True):
                get_next = True
                print(tok,q[idx+len(tok)])
    return result

In [ ]:
tables_in_query(SQL)

In [ ]:
def plot_postgres_db(postgres_engine):
    # Table level SQL, schema name, table name, row count
    table_sql = pd.read_sql("""SELECT s.schemaname, concat_ws('.', s.schemaname, tablename) AS table_name, hasindexes, n_live_tup AS row_count
      FROM pg_stat_user_tables s
      JOIN pg_tables t ON t.tablename = s.relname AND t.schemaname = s.schemaname ORDER BY 1,2;""", postgres_engine)
#     pd.read_sql("""SELECT t.schemaname, concat_ws('.', t.schemaname, t.tablename) AS table_name, hasindexes, CAST(reltuples AS integer) AS row_count FROM pg_class c
# JOIN pg_tables t on t.tablename = c.relname AND c.relnamespace = t.schemaname::regnamespace::oid
# WHERE t.schemaname != 'pg_catalog' AND t.schemaname != 'information_schema' AND relkind='r' ORDER BY 1,2""", postgres_engine)
    # View level SQL
    view_sql = pd.read_sql("""SELECT schemaname, concat_ws('.', v.schemaname, v.viewname) AS view_name, definition FROM pg_class c
JOIN pg_views v on v.viewname = c.relname AND c.relnamespace = v.schemaname::regnamespace::oid
WHERE v.schemaname != 'pg_catalog' AND v.schemaname != 'information_schema' AND relkind = 'v' ORDER BY 1,2""", postgres_engine)
    # PK/FK constraints
    pk_fk = pd.read_sql("""SELECT conname as constraint_name, 
        CASE
            WHEN contype = 'p' THEN 'primary key'
            WHEN contype = 'f' THEN 'foreign key'
            WHEN contype = 'u' THEN 'unique key'
        END AS constraint_type
          , concat_ws('.', n.nspname, conrelid::regclass) AS "table_name"
          , CASE WHEN pg_get_constraintdef(c.oid) LIKE 'FOREIGN KEY %%' THEN substring(pg_get_constraintdef(c.oid), 14, position(')' in pg_get_constraintdef(c.oid))-14) WHEN pg_get_constraintdef(c.oid) LIKE 'PRIMARY KEY %%' THEN substring(pg_get_constraintdef(c.oid), 14, position(')' in pg_get_constraintdef(c.oid))-14) END AS "col_name"
          , CASE WHEN pg_get_constraintdef(c.oid) LIKE 'FOREIGN KEY %%' THEN concat_ws('.', n.nspname, substring(pg_get_constraintdef(c.oid), position(' REFERENCES ' in pg_get_constraintdef(c.oid))+12, position('(' in substring(pg_get_constraintdef(c.oid), 14))-position(' REFERENCES ' in pg_get_constraintdef(c.oid))+1)) END AS "ref_table"
          , CASE WHEN pg_get_constraintdef(c.oid) LIKE 'FOREIGN KEY %%' THEN substring(pg_get_constraintdef(c.oid), position('(' in substring(pg_get_constraintdef(c.oid), 14))+14, position(')' in substring(pg_get_constraintdef(c.oid), position('(' in substring(pg_get_constraintdef(c.oid), 14))+14))-1) END AS "ref_col"
          , pg_get_constraintdef(c.oid) as constraint_def, 
          CASE
            WHEN confupdtype = 'a' THEN 'NO ACTION'
            WHEN confupdtype = 'r' THEN 'RESTRICT'
            WHEN confupdtype = 'c' THEN 'CASCADE'
            WHEN confupdtype = 'n' THEN 'SET NULL'
            WHEN confupdtype = 'd' THEN 'SET DEFAULT'
        END AS update_rule, 
        CASE
            WHEN confdeltype = 'a' THEN 'NO ACTION'
            WHEN confdeltype = 'r' THEN 'RESTRICT'
            WHEN confdeltype = 'c' THEN 'CASCADE'
            WHEN confdeltype = 'n' THEN 'SET NULL'
            WHEN confdeltype = 'd' THEN 'SET DEFAULT'
        END AS delete_rule 
    FROM   pg_constraint c
    JOIN   pg_namespace n ON n.oid = c.connamespace
    WHERE  contype IN ('f', 'p', 'u')
    ORDER  BY conrelid::regclass::text, contype DESC;""", postgres_engine)
    # List the schemas
    schema_list = list(table_sql['schemaname'])
    schema_str = ','.join(set(schema_list))
    # Stats for column level stats
    all_cols = pd.read_sql("""select DISTINCT ON(table_name, col_name) concat_ws('.', 
            --n.nspname, 
            attrelid::regclass) AS table_name, f.attname AS col_name, 
            pg_catalog.format_type(f.atttypid,f.atttypmod) AS type, attnotnull,
            CASE
                WHEN f.atthasdef = 't' THEN d.adsrc
            END AS default, description,
            CASE
                WHEN d.adsrc LIKE 'nextval%%' THEN True
                ELSE False
            END AS auto_increment, null_frac * c.reltuples AS num_null, null_frac AS perc_of_null, 
            CASE WHEN s.n_distinct < 0
                THEN -s.n_distinct * c.reltuples
                ELSE s.n_distinct
           END AS num_of_distinct, 
           CASE WHEN s.n_distinct < 0
                THEN round((-s.n_distinct * 100)::numeric, 2)
                ELSE round((s.n_distinct / c.reltuples * 100)::numeric, 2)
           END AS perc_of_distinct, c.relkind
            FROM pg_attribute f  
            JOIN pg_class c ON c.oid = f.attrelid  
            --JOIN pg_type t ON t.oid = f.atttypid
            LEFT JOIN pg_namespace n ON n.oid = c.relnamespace
            LEFT JOIN pg_attrdef d ON d.adrelid = c.oid AND d.adnum = f.attnum
            LEFT JOIN pg_description de on de.objoid = c.oid
            LEFT JOIN pg_stats s on s.schemaname::regnamespace::oid = c.relnamespace AND s.tablename = c.relname AND s.attname = f.attname
            WHERE (c.relkind = 'v'::char or c.relkind = 'r'::char or c.relkind = 'p'::char) 
            AND f.attnum > 0
            AND attisdropped is False
            AND n.nspname in ('{}');""".format(schema_str), postgres_engine)
    # Check for any table that is not in the pg_stats tables
    diff_list = list(set(all_cols['table_name']) - set(table_sql['table_name']))
    if diff_list:
        for i in diff_list:
            line = pd.DataFrame({"schemaname": i.split(".")[0], "table_name": i, "hasindexes": "False", "row_count": "n/a"}, index=[0])
            table_sql = pd.concat([table_sql, line])
    table_sql = table_sql.sort_values(by=['schemaname', 'table_name']).reset_index(drop=True)
    # List of tables
    table_list = list(table_sql['table_name'])
    view_list = list(view_sql['view_name'])
    #table_list = [m + '.' + str(n) for m, n in zip(schema_list, table_list)]
    overview_dict = {}
    # Show the stats for schemas, tables and PK/FK
    overview_dict['num_of_schemas'] = len(set(schema_list))
    overview_dict['schema_names'] = list(set(schema_list))
    overview_dict['num_of_tables'] = len(table_list)
    overview_dict['table_names'] = table_list
    overview_dict['num_of_views'] = len(view_list)
    overview_dict['view_names'] = view_list
    overview_dict['tables_no_index'] = list(table_sql[table_sql['hasindexes'] == "False"]['table_name'])
    overview_dict['num_of_pk'] = len(pk_fk[pk_fk['constraint_type'] == 'primary key'])
    overview_dict['num_of_fk'] = len(pk_fk[pk_fk['constraint_type'] == 'foreign key'])
    overview_dict['num_of_uk'] = len(pk_fk[pk_fk['constraint_type'] == 'unique key'])
   
    # Split into intermediate result dictionary form - table
    table_dict = {}
    for i in table_list:
        temp = {}
        temp_cols = all_cols[all_cols['table_name'] == i].drop(columns=['table_name']).to_dict(orient = 'records')
        for j in temp_cols:
            temp[j['col_name']] = {}
            element = j.pop('col_name')
            temp[element] = j
            temp[element]['children'] = list(pk_fk[(pk_fk['ref_table'] == i) & (pk_fk['ref_col'] == element)]['table_name'])
            temp[element]['parents'] = list(pk_fk[(pk_fk['table_name'] == i) & (pk_fk['col_name'] == element) & (pk_fk['constraint_type'] == 'foreign key')]['ref_table'])
        temp[i+'_num_of_parents'] = len(pk_fk[(pk_fk['table_name'] == i) & (pk_fk['constraint_type'] == 'foreign key')])
        temp[i+'_num_of_children'] = len(pk_fk[(pk_fk['ref_table'] == i)])
        temp[i+'_num_of_row'] = table_sql[table_sql['table_name'] == i]['row_count'].values[0]
        temp[i+'_num_of_cols'] = len(all_cols[all_cols['table_name'] == i])
        temp['constraints'] = {}
        temp_pk_fk = pk_fk[pk_fk['table_name'] == i].drop(columns=['table_name']).to_dict(orient = 'records')
        for j in temp_pk_fk:
            temp['constraints'][j['constraint_name']] = {}
            element = j.pop('constraint_name')
            temp['constraints'][element] = j
        table_dict[i] = temp
    # Split into intermediate result dictionary form - view
    view_dict = {}
    for i in view_list:
        temp = {}
        temp_cols = all_cols[all_cols['table_name'] == i].drop(columns=['table_name']).to_dict(orient = 'records')
        for j in temp_cols:
            temp[j['col_name']] = {}
            element = j.pop('col_name')
            temp[element] = j
        temp[i+'_num_cols'] = len(all_cols[all_cols['table_name'] == i])
        temp[i+'_definition'] = view_sql[view_sql['view_name'] == i]['definition'].values[0]
        view_dict[i] = temp
    return overview_dict, table_dict, view_dict

In [ ]:
user = 'postgres'
pw = 'password'
postgres_engine = create_engine('postgresql://' + user + ':' + pw + '@localhost:5432/classicmodels')
overview_dict, table_dict, view_dict = plot_postgres_db(postgres_engine)

In [ ]:
import psycopg2
user = 'postgres'
pw = 'password'
conn_string = 'postgresql://' + user + ':' + pw + '@52.89.148.112:5432/mimic'
psycopg2.connect(conn_string)
postgres_engine = create_engine(conn_string)
pd.read_sql("SELECT * FROM pg_tables limit 5", postgres_engine)

In [ ]:
overview_dict, table_dict, view_dict = plot_postgres_db(postgres_engine)
overview_dict

In [ ]:
def plot_sqlite_db(sqliteConnection):
    cursor = sqliteConnection.cursor()
    cursor.execute('ANALYZE')
    # Get all table names
    table_sql = pd.read_sql("""select type, tbl_name as table_name, sql from sqlite_master where type = 'table' AND tbl_name not like 'sqlite_%';""", sqliteConnection)
    # Get row count for each table
    table_row_sql = pd.read_sql("""select DISTINCT tbl_name AS table_name, CASE WHEN stat is null then 0 else cast(stat as INT) END row_count 
    from sqlite_master m 
    LEFT JOIN sqlite_stat1 stat on   m.tbl_name = stat.tbl 
    where m.type='table'
    and m.tbl_name not like 'sqlite_%'
    order by 1""", sqliteConnection)
    # Get all the columns and their stats
    all_cols = pd.read_sql("""SELECT tbl_name as table_name, p.name as col_name, p.type as type, 
    CASE WHEN `notnull` = 0 THEN 'False'
    ELSE 'True' END AS attnotnull, dflt_value as `default`, pk, sql
    FROM 
      sqlite_master AS m
    JOIN 
      pragma_table_info(m.name) AS p
    WHERE tbl_name not like 'sqlite_%'
    ORDER BY 
      m.name, 
      p.cid""", sqliteConnection)
    # Get all view names
    view_sql = pd.read_sql("""select type, tbl_name as view_name, sql AS definition from sqlite_master where type = 'view' AND tbl_name not like 'sqlite_%';""", sqliteConnection)
    # Get all fk stats
    fk_sql = pd.read_sql("""SELECT 'foreign key' AS constraint_type, tbl_name as table_name, `from` AS col_name, 
        `table` AS ref_table, `to` AS ref_col, sql AS constraint_def, on_update AS "update_rule", on_delete AS "delete_rule"
    FROM 
      sqlite_master AS m
    JOIN 
      pragma_foreign_key_list(m.name) AS p WHERE m.type = 'table'""", sqliteConnection)
    # Get all pk stats
    pk_sql = pd.read_sql("""SELECT DISTINCT 'primary key' AS constraint_type, tbl_name as table_name
    ,group_concat(p.name) OVER (
      PARTITION BY tbl_name) AS col_name, sql AS constraint_def
    FROM 
      sqlite_master AS m
    JOIN 
      pragma_table_info(m.name) AS p
    WHERE tbl_name not like 'sqlite_%' AND pk != 0
    ORDER BY 
      m.name, 
      p.cid""", sqliteConnection)
    # Get all uk stats
    uk_sql = pd.read_sql("""SELECT DISTINCT 'unique key' AS constraint_type, tbl_name as table_name, p.name as col_name, sql AS constraint_def
    FROM 
      sqlite_master AS m
    JOIN 
      pragma_index_list(m.name) AS p WHERE m.type = 'table' AND `unique` = 1 AND origin not in ('pk', 'fk')""", sqliteConnection)
    # Align the columns for pk and fk and concat them
    pk_sql['ref_table'], pk_sql['ref_col'], uk_sql['ref_table'], uk_sql['ref_col'] = None, None, None, None
    pk_sql = pk_sql[['constraint_type', 'table_name', 'col_name', 'ref_table', 'ref_col', 'constraint_def']]
    uk_sql = uk_sql[['constraint_type', 'table_name', 'col_name', 'ref_table', 'ref_col', 'constraint_def']]
    pk_fk = pd.concat([pk_sql, fk_sql, uk_sql]).reset_index(drop = True)
    table_list = list(table_sql['table_name'])
    view_list = list(view_sql['view_name'])
    overview_dict = {}
    overview_dict['num_of_tables'] = len(table_list)
    overview_dict['table_names'] = table_list
    overview_dict['num_of_views'] = len(view_list)
    overview_dict['view_names'] = view_list
    overview_dict['tables_no_index'] = list(table_sql[~table_sql['table_name'].isin(set(pk_sql['table_name']))]['table_name'])
    overview_dict['num_of_pk'] = len(pk_sql)
    overview_dict['num_of_fk'] = len(fk_sql)
    overview_dict['num_of_uk'] = len(uk_sql)

    # Split into intermediate result dictionary form - table
    table_dict = {}
    for i in table_list:
        temp = {}
        temp_cols = all_cols[all_cols['table_name'] == i].drop(columns=['table_name', 'pk', 'sql']).to_dict(orient = 'records')
        for j in temp_cols:
            temp[j['col_name']] = {}
            element = j.pop('col_name')
            temp[element] = j
            temp[element]['children'] = list(pk_fk[(pk_fk['ref_table'] == i) & (pk_fk['ref_col'] == element)]['table_name'])
            temp[element]['parents'] = list(pk_fk[(pk_fk['table_name'] == i) & (pk_fk['col_name'] == element) & (pk_fk['constraint_type'] == 'foreign key')]['ref_table'])
        temp[i+'_num_of_parents'] = len(pk_fk[(pk_fk['table_name'] == i) & (pk_fk['constraint_type'] == 'foreign key')])
        temp[i+'_num_of_children'] = len(pk_fk[(pk_fk['ref_table'] == i)])
        temp[i+'_num_of_row'] = table_row_sql[table_row_sql['table_name'] == i]['row_count'].values[0]
        temp[i+'_num_of_cols'] = len(all_cols[all_cols['table_name'] == i])
        temp['constraints'] = {}
        temp_pk_fk = pk_fk[pk_fk['table_name'] == i].drop(columns=['table_name']).to_dict(orient = 'records')
        for j in temp_pk_fk:
            fk_counter, uk_counter = 1, 1
            if j['constraint_type'] == 'primary key':
                element = i + '_pk'
                temp['constraints'][element] = {}
            elif j['constraint_type'] == 'foreign key':
                element = i + '_fk' + str(fk_counter)
                temp['constraints'][element] = {}
                fk_counter += 1
            elif j['constraint_type'] == 'unique key':
                element = i + '_uk' + str(uk_counter)
                temp['constraints'][element] = {}
                uk_counter += 1
            temp['constraints'][element] = j
        table_dict[i] = temp

    # Split into intermediate result dictionary form - view
    view_dict = {}
    for i in view_list:
        temp = {}
        temp_cols = all_cols[all_cols['table_name'] == i].drop(columns=['table_name', 'pk', 'sql']).to_dict(orient = 'records')
        for j in temp_cols:
            temp[j['col_name']] = {}
            element = j.pop('col_name')
            temp[element] = j
        temp[i+'_num_cols'] = len(temp_cols)
        temp[i+'_definition'] = view_sql[view_sql['view_name'] == i]['definition'].values[0]
        view_dict[i] = temp
    return overview_dict, table_dict, view_dict

In [ ]:
def plot_sqlite_db(sqliteConnection):
    db_name=sqliteConnection.url.database
    schema_name=[]
    schema_name.append(db_name)
    sqliteConnection.execute('ANALYZE')
    #version_sql = pd.read_sql("""SELECT version();""", sqliteConnection)
    # Get all table names
    table_sql = pd.read_sql("""select type, tbl_name as table_name, sql from sqlite_master where type = 'table' AND tbl_name not like 'sqlite_%';""", sqliteConnection)
    # Get row count for each table
    table_row_sql = pd.read_sql("""select DISTINCT tbl_name AS table_name, CASE WHEN stat is null then 0 else cast(stat as INT) END row_count
    from sqlite_master m
    LEFT JOIN sqlite_stat1 stat on   m.tbl_name = stat.tbl
    where m.type='table'
    and m.tbl_name not like 'sqlite_%'
    order by 1""", sqliteConnection)
    # Get all the columns and their stats
    all_cols = pd.read_sql("""SELECT tbl_name as table_name, p.name as col_name, p.type as type,
    CASE WHEN `notnull` = 0 THEN 'False'
    ELSE 'True' END AS attnotnull, dflt_value as `default`, pk, sql
    FROM
      sqlite_master AS m
    JOIN
      pragma_table_info(m.name) AS p
    WHERE tbl_name not like 'sqlite_%'
    ORDER BY
      m.name,
      p.cid""", sqliteConnection)
    # Get all view names
    view_sql = pd.read_sql("""select type, tbl_name as view_name, sql AS definition from sqlite_master where type = 'view' AND tbl_name not like 'sqlite_%';""", sqliteConnection)
    # Get all fk stats
    fk_sql = pd.read_sql("""SELECT 'foreign key' AS constraint_type, tbl_name as table_name, `from` AS col_name,
        `table` AS ref_table, `to` AS ref_col, sql AS constraint_def, on_update AS "update_rule", on_delete AS "delete_rule"
    FROM
      sqlite_master AS m
    JOIN
      pragma_foreign_key_list(m.name) AS p WHERE m.type = 'table'""", sqliteConnection)
    # Get all pk stats
    pk_sql = pd.read_sql("""SELECT DISTINCT 'primary key' AS constraint_type, tbl_name as table_name
    ,group_concat(p.name) OVER (
      PARTITION BY tbl_name) AS col_name, sql AS constraint_def
    FROM
      sqlite_master AS m
    JOIN
      pragma_table_info(m.name) AS p
    WHERE tbl_name not like 'sqlite_%' AND pk != 0
    ORDER BY
      m.name,
      p.cid""", sqliteConnection)
    # Get all uk stats
    uk_sql = pd.read_sql("""SELECT DISTINCT 'unique key' AS constraint_type, tbl_name as table_name, p.name as col_name, sql AS constraint_def
    FROM
      sqlite_master AS m
    JOIN
      pragma_index_list(m.name) AS p WHERE m.type = 'table' AND `unique` = 1 AND origin not in ('pk', 'fk')""", sqliteConnection)
    # Align the columns for pk and fk and concat them
    pk_sql['ref_table'], pk_sql['ref_col'], uk_sql['ref_table'], uk_sql['ref_col'] = None, None, None, None
    pk_sql = pk_sql[['constraint_type', 'table_name', 'col_name', 'ref_table', 'ref_col', 'constraint_def']]
    uk_sql = uk_sql[['constraint_type', 'table_name', 'col_name', 'ref_table', 'ref_col', 'constraint_def']]
    pk_fk = pd.concat([pk_sql, fk_sql, uk_sql]).reset_index(drop = True)
    table_list = list(table_sql['table_name'])
    view_list = list(view_sql['view_name'])
    overview_dict = {}
    overview_dict['table_schema']=dict(zip(table_list, schema_name))
    overview_dict['num_of_schemas'] = 1
    overview_dict['schema_names'] = schema_name
    overview_dict['num_of_tables'] = int(len(table_list))
    overview_dict['table_names'] = table_list
    overview_dict['num_of_views'] = int(len(view_list))
    overview_dict['view_names'] = view_list
    overview_dict['tables_no_index'] = list(table_sql[~table_sql['table_name'].isin(set(pk_sql['table_name']))]['table_name'])
    overview_dict['num_of_pk'] = int(len(pk_sql))
    overview_dict['num_of_fk'] = int(len(fk_sql))
    overview_dict['num_of_uk'] = int(len(uk_sql))
    overview_dict['product_version']=str(0)
    # Split into intermediate result dictionary form - table
    table_dict = {}
    for i in table_list:
        temp = {}
        temp_cols = all_cols[all_cols['table_name'] == i].drop(columns=['table_name', 'pk', 'sql']).to_dict(orient = 'records')
        for j in temp_cols:
            temp[j['col_name']] = {}
            element = j.pop('col_name')
            temp[element] = j
            temp[element]['children'] = list(pk_fk[(pk_fk['ref_table'] == i) & (pk_fk['ref_col'] == element)]['table_name'])
            temp[element]['parents'] = list(pk_fk[(pk_fk['table_name'] == i) & (pk_fk['col_name'] == element) & (pk_fk['constraint_type'] == 'foreign key')]['ref_table'])
        temp['num_of_parents'] = len(pk_fk[(pk_fk['table_name'] == i) & (pk_fk['constraint_type'] == 'foreign key')])
        temp['num_of_children'] = len(pk_fk[(pk_fk['ref_table'] == i)])
        temp['num_of_row'] = table_row_sql[table_row_sql['table_name'] == i]['row_count'].values[0]
        temp['num_of_cols'] = len(all_cols[all_cols['table_name'] == i])
        temp['constraints'] = {}
        temp_pk_fk = pk_fk[pk_fk['table_name'] == i].drop(columns=['table_name']).to_dict(orient = 'records')
        for j in temp_pk_fk:
            fk_counter, uk_counter = 1, 1
            if j['constraint_type'] == 'primary key':
                element = i + '_pk'
                temp['constraints'][element] = {}
            elif j['constraint_type'] == 'foreign key':
                element = i + '_fk' + str(fk_counter)
                temp['constraints'][element] = {}
                fk_counter += 1
            elif j['constraint_type'] == 'unique key':
                element = i + '_uk' + str(uk_counter)
                temp['constraints'][element] = {}
                uk_counter += 1
            temp['constraints'][element] = j
        table_dict[i] = temp
    # Split into intermediate result dictionary form - view
    view_dict = {}
    for i in view_list:
        temp = {}
        temp_cols = all_cols[all_cols['table_name'] == i].drop(columns=['table_name', 'pk', 'sql']).to_dict(orient = 'records')
        for j in temp_cols:
            temp[j['col_name']] = {}
            element = j.pop('col_name')
            temp[element] = j
        temp[i+'_num_cols'] = len(temp_cols)
        temp[i+'_definition'] = view_sql[view_sql['view_name'] == i]['definition'].values[0]
        view_dict[i] = temp
    print(table_dict)
    return overview_dict, table_dict, view_dict

In [ ]:
sqliteConnection = create_engine('sqlite:///classicmodels.db')

In [ ]:
overview_dict, table_dict, view_dict = plot_sqlite_db(sqliteConnection)

In [ ]:
pd.read_sql("""SELECT 'foreign key' AS constraint_type, tbl_name as table_name, `from` AS col_name,
        `table` AS ref_table, `to` AS ref_col, sql AS constraint_def, on_update AS "update_rule", on_delete AS "delete_rule"
    FROM
      sqlite_master AS m
    JOIN
      pragma_foreign_key_list(m.name) AS p WHERE m.type = 'table'""", sqliteConnection)

In [ ]:
import sqlite3
sqliteConnection = sqlite3.connect('classicmodels.db')
#cursor = sqliteConnection.cursor()
# print("Database created and Successfully Connected to SQLite")

# sqlite_select_Query = "select sqlite_version();"
#cursor.execute(sqlite_select_Query)
#record = cursor.fetchall()
#print("SQLite Database Version is: ", record)
#cursor.execute('ANALYZE')
#overview_dict, table_dict, view_dict = plot_sqlite_db(sqliteConnection)

In [ ]:
table_dict

In [ ]:
pd.read_sql("""SELECT DISTINCT 'unique key' AS constraint_type, tbl_name as table_name, p.name as col_name, sql AS constraint_def, *
    FROM 
      sqlite_master AS m
    JOIN 
      pragma_index_list(m.name) AS p WHERE m.type = 'table' AND `unique` = 1""", sqliteConnection)

In [ ]:
table_dict

In [ ]:
pd.read_sql("""select *
    from sqlite_master m 
    LEFT JOIN sqlite_stat1 stat on   m.tbl_name = stat.tbl 
    where m.type='table'
    and m.tbl_name not like 'sqlite_%'
    order by 1""", sqliteConnection)

In [ ]:
table_dict['payments']

In [ ]:
def plot_mysql_db(sql_engine):
    # Table level SQL, schema name, table name, row count
    table_sql = pd.read_sql("""SELECT table_schema AS schemaname, concat_ws('.', table_schema, table_name) AS table_name, table_rows AS row_count FROM INFORMATION_SCHEMA.tables
    WHERE table_schema not in ('mysql','information_schema','performance_schema','sys', 'Z_README_TO_RECOVER') AND TABLE_TYPE = 'BASE TABLE' ORDER BY 1,2;""", sql_engine)
    view_sql = pd.read_sql("""SELECT table_schema AS schemaname, concat_ws('.', table_schema, table_name) AS view_name, view_definition AS definition FROM INFORMATION_SCHEMA.VIEWS WHERE TABLE_SCHEMA != 'sys' ORDER BY 1,2;""", sql_engine)
    pk_fk = pd.read_sql("""SELECT k.CONSTRAINT_NAME AS constraint_name, CONSTRAINT_TYPE AS constraint_type, concat_ws('.', k.CONSTRAINT_SCHEMA, k.TABLE_NAME) AS table_name, k.COLUMN_NAME AS col_name, 
    CASE WHEN concat_ws('.', k.REFERENCED_TABLE_SCHEMA, k.REFERENCED_TABLE_NAME) = '' THEN NULL 
    ELSE concat_ws('.', k.REFERENCED_TABLE_SCHEMA, k.REFERENCED_TABLE_NAME) END AS ref_table, k.REFERENCED_COLUMN_NAME AS ref_col FROM INFORMATION_SCHEMA.KEY_COLUMN_USAGE k
    JOIN information_schema.table_constraints t on k.CONSTRAINT_CATALOG = t. CONSTRAINT_CATALOG AND k.constraint_schema = t.constraint_schema AND k.constraint_name = t.constraint_name AND k.TABLE_NAME = t.TABLE_NAME
    WHERE k.CONSTRAINT_SCHEMA not in ('mysql', 'performance_schema', 'sys') ORDER BY 3;""", sql_engine)
    # List of schemas and tables
    schema_list = list(table_sql['schemaname'])
    schema_str = ','.join(set(schema_list))
    table_list = list(table_sql['table_name'])
    view_list = list(view_sql['view_name'])
    #table_list = [m + '.' + str(n) for m, n in zip(schema_list, table_list)]
    overview_dict = {}
    # Show the stats for schemas, tables and PK/FK
    overview_dict['num_of_schemas'] = len(set(schema_list))
    overview_dict['schema_names'] = list(set(schema_list))
    overview_dict['num_of_tables'] = len(table_list)
    overview_dict['table_names'] = table_list
    overview_dict['num_of_views'] = len(view_list)
    overview_dict['view_names'] = view_list
    overview_dict['tables_no_index'] = list(table_sql[~table_sql['table_name'].isin(set(pk_fk[pk_fk['constraint_type'] == 'PRIMARY KEY']['table_name']))]['table_name'])
    overview_dict['num_of_pk'] = len(set(pk_fk[pk_fk['constraint_type'] == 'PRIMARY KEY']['table_name']))
    overview_dict['num_of_fk'] = len(pk_fk[pk_fk['constraint_type'] == 'FOREIGN KEY'])
    overview_dict['num_of_uk'] = len(pk_fk[pk_fk['constraint_type'] == 'UNIQUE KEY'])
    # Stats for column level stats
    all_cols = pd.read_sql("""SELECT concat_ws('.', table_schema, table_name) AS table_name, COLUMN_name AS col_name, COLUMN_TYPE AS type, 
    CASE WHEN IS_NULLABLE  = 'YES' THEN 'False'
    ELSE 'True' END AS attnotnull , COLUMN_DEFAULT AS `default`, column_comment AS description,
    CASE WHEN EXTRA like '%%auto_increment%%' THEN 'True'
    ELSE 'False' END AS `auto_increment` FROM INFORMATION_SCHEMA.COLUMNS WHERE table_schema not in ('mysql','information_schema','performance_schema','sys', 'Z_README_TO_RECOVER') ORDER BY 1, 2;""", sql_engine)
    # Split into intermediate result dictionary form - table
    table_dict = {}
#     for i in table_list:
#         temp = {}
#         temp_cols = all_cols[all_cols['table_name'] == i].drop(columns=['table_name']).to_dict(orient = 'records')
#         for j in temp_cols:
#             temp[j['col_name']] = {}
#             element = j.pop('col_name')
#             temp[element] = j
#             temp[element]['children'] = list(pk_fk[(pk_fk['ref_table'] == i) & (pk_fk['ref_col'] == element)]['table_name'])
#             temp[element]['parents'] = list(pk_fk[(pk_fk['table_name'] == i) & (pk_fk['col_name'] == element) & (pk_fk['constraint_type'] == 'FOREIGN KEY')]['ref_table'])
#         temp[i+'_num_of_parents'] = len(pk_fk[(pk_fk['table_name'] == i) & (pk_fk['constraint_type'] == 'FOREIGN KEY')])
#         temp[i+'_num_of_children'] = len(pk_fk[(pk_fk['ref_table'] == i)])
#         temp[i+'_num_of_row'] = table_sql[table_sql['table_name'] == i]['row_count'].values[0]
#         temp[i+'_num_of_cols'] = len(all_cols[all_cols['table_name'] == i])
#         temp['constraints'] = {}
#         temp_pk_fk = pk_fk[pk_fk['table_name'] == i].drop(columns=['table_name']).groupby('constraint_name').agg({'constraint_name': 'first', 'constraint_type': 'first', 'col_name':', '.join, 'ref_table': 'first', 'ref_col': 'first'}).to_dict(orient = 'records')
#         for j in temp_pk_fk:
#             temp['constraints'][j['constraint_name']] = {}
#             element = j.pop('constraint_name')
#             temp['constraints'][element] = j
#         table_dict[i] = temp
    # Split into intermediate result dictionary form - view
    view_dict = {}
    for i in view_list:
        temp = {}
        temp_cols = all_cols[all_cols['table_name'] == i].drop(columns=['table_name']).to_dict(orient = 'records')
        for j in temp_cols:
            temp[j['col_name']] = {}
            element = j.pop('col_name')
            temp[element] = j
        temp[i+'_num_cols'] = len(all_cols[all_cols['table_name'] == i])
        temp[i+'_definition'] = view_sql[view_sql['view_name'] == i]['definition'].values[0]
        view_dict[i] = temp
    return overview_dict, table_dict, view_dict

In [ ]:
user = 'admin'
pw = 'password'
sql_engine = create_engine('mysql://' + user + ':' + pw + '@database-2.cnpnvdy4yt13.us-west-2.rds.amazonaws.com:3306/classicmodels', pool_size = 100, pool_timeout = 600, pool_recycle = 28799)
overview_dict, table_dict, view_dict = plot_mysql_db(sql_engine)

In [ ]:
view_dict

In [ ]:
user = 'jc'
pw = 'srck@790'
engine = create_engine('mysql://' + user + ':' + pw + '@207.6.3.199:3306/stock', pool_size = 100, pool_timeout = 600, pool_recycle = 28799)
#overview_dict, table_dict, view_dict = plot_mysql_db(engine)
table_sql = pd.read_sql("""SELECT table_schema AS schemaname, concat_ws('.', table_schema, table_name) AS table_name, table_rows AS row_count FROM INFORMATION_SCHEMA.tables
WHERE table_schema not in ('mysql','information_schema','performance_schema','sys', 'Z_README_TO_RECOVER') AND TABLE_TYPE = 'BASE TABLE' ORDER BY 1,2;""", engine)
view_sql = pd.read_sql("""SELECT table_schema AS schemaname, concat_ws('.', table_schema, table_name) AS view_name, view_definition AS definition FROM INFORMATION_SCHEMA.VIEWS WHERE TABLE_SCHEMA != 'sys' ORDER BY 1,2;""", engine)
table_list = list(table_sql['table_name'])

In [ ]:
str1

In [ ]:
df2 = pd.read_sql("""SELECT table_schema AS schemaname, concat_ws('.', table_schema, table_name) AS table_name, table_rows AS row_count FROM INFORMATION_SCHEMA.tables
    WHERE table_schema not in ('mysql','information_schema','performance_schema','sys', 'Z_README_TO_RECOVER') AND TABLE_TYPE = 'BASE TABLE' ORDER BY 1,2;""", engine)

In [ ]:
df2 = df2[df2['schemaname'] == 'stock']

In [ ]:
df1 = pd.read_sql("""SELECT concat_ws('.', table_schema, table_name) AS table_name, COLUMN_name AS col_name, COLUMN_TYPE AS type, 
    CASE WHEN IS_NULLABLE  = 'YES' THEN 'False'
    ELSE 'True' END AS attnotnull , COLUMN_DEFAULT AS `default`, column_comment AS description,
    CASE WHEN EXTRA like '%%auto_increment%%' THEN 'True'
    ELSE 'False' END AS `auto_increment` FROM INFORMATION_SCHEMA.COLUMNS WHERE table_schema = 'stock' ORDER BY 1, 2;""", engine)

In [ ]:
df

In [ ]:
df1

In [ ]:
from datetime import datetime
for index, row in df.iterrows():
    df.loc[index, 'cols'] = int(len(df1[df1['table_name'] == row['table_name']]))
    if index % 1000 == 0:
        now = datetime.now()
        print(index, "time", now.strftime("%H:%M:%S"))

In [ ]:
df

In [ ]:
import plotly.express as px

In [ ]:
px.scatter(df, x=df['row_count'], y=df['cols'], hover_name= df['table_name'])

In [ ]:
pd.read_sql('SELECT * FROM AORD_daily', engine)

In [ ]:
pd.read_sql('SELECT * FROM AAPL_daily', engine)

In [ ]:
import os
script_dir = os.getcwd()
jar_file = script_dir + "/test_jdbc-1.0-SNAPSHOT-jar-with-dependencies.jar"
print(jar_file)

from subprocess import *

def jarWrapper(*args):
    process = Popen(['java', '-jar']+list(args), stdout=PIPE, stderr=PIPE)
    ret = []
    while process.poll() is None:
        line = process.stdout.readline().decode('utf-8')
        print(line)
        if line != '' and line.endswith('\n'):
            if line.endswith('\r\n'):
                ret.append(line[:-2])
            else:
                ret.append(line[:-1])
    stdout, stderr = process.communicate()
    ret += stdout.decode('utf-8').split('\n')
    if stderr != '':
        ret += stderr.decode('utf-8').split('\n')
    ret.remove('')
    return ret

args = [jar_file] # Any number of args to be passed to the jar file

result = jarWrapper(*args)

print (result)