In [1]:
%load_ext autoreload
%autoreload 2
from table_extraction import *
cwd = os.getcwd()

In [5]:
df = table_extraction("postgresql://52.89.148.112:5432/mimic", 'postgres', 'password', os.path.join(cwd, 'test_lineage'), "mimiciii_clinical")
df

gateway opened
gateway tested
database connected
select subject_id,gender,dob from mimiciii_clinical.patients
mimiciii_clinical.basic_patient_info not in
created
select subject_id,gender from mimiciii_clinical.basic_patient_info
mimiciii_clinical.no_dob not in
created
mimiciii_clinical.no_dob dropped
mimiciii_clinical.basic_patient_info dropped

,file,original sql,sql,tables
0,basic_patient_info.sql,-- -------------------------------------------...,"select subject_id,gender,dob from mimiciii_cli...",mimiciii_clinical.patients
1,no_dob.sql,"SELECT subject_id, gender\nFROM `physionet-dat...","select subject_id,gender from mimiciii_clinica...",mimiciii_clinical.basic_patient_info